@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
p, ul, li {
  font-family: "Roboto", sans-serif;
}
p strong, ul strong, li strong {
  font-family: "Roboto", sans-serif;
}
h1 {
  color: #00693E;
  font-size: 50px;
}
.entry_title h1, .entry-content h1 {
  color: #00693E;
  font-size: 50px;
}
h2 {
  color: #8CC751;
}
h1, h2 {
  font-family: "Cafeteria-Black" !important;
}
h1 strong, h2 strong {
  font-family: "Cafeteria-Black";
  color: #00693E;
}
.entry-content h1, .entry-content h2 {
  font-family: "Cafeteria-Black" !important;
  color: #8CC751;
}
.entry-content h1 strong, .entry-content h2 strong {
  font-family: "Cafeteria-Black";
  color: #00693E;
}
h3, h4, h5, h6 {
  font-family: "Cafeteria-Bold" !important;
  color: #8CC751;
}
h3 strong, h4 strong, h5 strong, h6 strong {
  font-family: "Cafeteria-Bold" !important;
  color: #00693E;
}
.entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  font-family: "Cafeteria-Bold" !important;
  color: #8CC751;
}
.entry-content h3 strong, .entry-content h4 strong, .entry-content h5 strong, .entry-content h6 strong {
  font-family: "Cafeteria-Bold" !important;
  color: #00693E;
}
.fond_blanc h1, .fond_blanc h2, .fond_blanc h3, .fond_blanc h4, .fond_blanc h5, .fond_blanc h6 {
  color: #8CC751;
}
.fond_blanc h1 strong, .fond_blanc h2 strong, .fond_blanc h3 strong, .fond_blanc h4 strong, .fond_blanc h5 strong, .fond_blanc h6 strong {
  color: #00693E;
}
.fond_blanc .entry-content h1, .fond_blanc .entry-content h2, .fond_blanc .entry-content h3, .fond_blanc .entry-content h4, .fond_blanc .entry-content h5, .fond_blanc .entry-content h6 {
  color: #8CC751;
}
.fond_blanc .entry-content h1 strong, .fond_blanc .entry-content h2 strong, .fond_blanc .entry-content h3 strong, .fond_blanc .entry-content h4 strong, .fond_blanc .entry-content h5 strong, .fond_blanc .entry-content h6 strong {
  color: #00693E;
}
.fond_clair h1, .fond_clair h2, .fond_clair h3, .fond_clair h4, .fond_clair h5, .fond_clair h6 {
  color: white;
}
.fond_clair h1 strong, .fond_clair h2 strong, .fond_clair h3 strong, .fond_clair h4 strong, .fond_clair h5 strong, .fond_clair h6 strong {
  color: white;
}
.fond_clair .entry-content h1, .fond_clair .entry-content h2, .fond_clair .entry-content h3, .fond_clair .entry-content h4, .fond_clair .entry-content h5, .fond_clair .entry-content h6 {
  color: white;
}
.fond_clair .entry-content h1 strong, .fond_clair .entry-content h2 strong, .fond_clair .entry-content h3 strong, .fond_clair .entry-content h4 strong, .fond_clair .entry-content h5 strong, .fond_clair .entry-content h6 strong {
  color: white;
}
.fond_clair2 h1, .fond_clair2 h2, .fond_clair2 h3, .fond_clair2 h4, .fond_clair2 h5, .fond_clair2 h6 {
  color: white;
}
.fond_clair2 h1 strong, .fond_clair2 h2 strong, .fond_clair2 h3 strong, .fond_clair2 h4 strong, .fond_clair2 h5 strong, .fond_clair2 h6 strong {
  color: white;
}
.fond_clair2 .entry-content h1, .fond_clair2 .entry-content h2, .fond_clair2 .entry-content h3, .fond_clair2 .entry-content h4, .fond_clair2 .entry-content h5, .fond_clair2 .entry-content h6 {
  color: white;
}
.fond_clair2 .entry-content h1 strong, .fond_clair2 .entry-content h2 strong, .fond_clair2 .entry-content h3 strong, .fond_clair2 .entry-content h4 strong, .fond_clair2 .entry-content h5 strong, .fond_clair2 .entry-content h6 strong {
  color: white;
}
h2 {
  font-size: 38px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 25px;
}
h5 {
  font-size: 23px;
}
h6 {
  font-size: 20px;
}
@media (max-width: 780px) {
  #block-app #app {
    padding: 0rem;
  }
}
#block-app .filter-input::placeholder {
  color: #00693E;
  font-family: "Cafeteria-Regular" !important;
  font-size: 22px;
  padding-top: 0.5rem;
}
#block-app .results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#block-app .results .cpt-extrait {
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  width: 31%;
  -webkit-box-shadow: 0px 6px 23px 8px rgba(154, 154, 154, 0.27);
  box-shadow: 0px 6px 23px 8px rgba(154, 154, 154, 0.27);
  position: relative;
  padding-bottom: 6rem;
}
#block-app .results .cpt-extrait h3 {
  font-size: 26px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2rem;
  color: #00693E;
}
#block-app .results .cpt-extrait h3 a {
  color: #00693E;
  text-align: center;
}
#block-app .results .cpt-extrait .desc-page {
  padding: 0rem 2rem 2rem 2rem;
}
#block-app .results .cpt-extrait .terms-container {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1rem;
}
#block-app .results .cpt-extrait .terms-container .nouvelle_recette {
  background: white;
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
  font-family: "Cafeteria-Regular" !important;
  font-size: 20px;
}
#block-app .results .cpt-extrait .terms-container .term-libre {
  background: white;
  padding: 0.2rem 1rem;
  margin-bottom: 0.5rem;
  right: 0;
  position: absolute;
  font-family: "Cafeteria-Regular" !important;
  font-size: 20px;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.6rem;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper .term {
  position: absolute;
  left: 10%;
  top: 10%;
  color: white;
  font-family: "Cafeteria-Bold" !important;
  font-size: 19px;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper .term-bg {
  width: 8rem;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper.type_de_recette .term-bg {
  fill: #00693E;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper.specificite .term-bg {
  fill: #8CC751;
}
#block-app .results .cpt-extrait .img-container {
  height: 230px;
}
#block-app .results .cpt-extrait .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#block-app .results .cpt-extrait .buttons-extrait {
  padding-bottom: 1rem;
  position: absolute;
  bottom: 1rem;
  width: 100%;
}
#block-app .results .cpt-extrait .buttons-extrait .cta_center {
  display: flex;
  justify-content: center;
}
#block-app .results .cpt-extrait .buttons-extrait a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#block-app .results .cpt-extrait .buttons-extrait a span {
  z-index: 1;
  position: absolute;
  font-family: "Cafeteria-Bold" !important;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
}
@media (max-width: 1280px) {
  #block-app .results .cpt-extrait {
    width: 47%;
  }
}
@media (max-width: 780px) {
  #block-app .results .cpt-extrait {
    margin-right: 0;
    width: 100%;
  }
}
#block-app .filters {
  display: flex;
  flex-direction: column;
}
#block-app .filters .text-filter-container {
  position: relative;
  margin-bottom: 1rem;
}
#block-app .filters .text-filter-container .svg-loop-searchbox {
  position: absolute;
  top: 25%;
  left: 2%;
}
@media (max-width: 780px) {
  #block-app .filters .svg-searchbox {
    width: 100% !important;
  }
}
#block-app .filter-input {
  border: none;
  z-index: 1;
  position: absolute;
  left: 6%;
  top: 0;
  height: 100%;
  width: 35%;
  background: transparent;
}
#block-app .filter-input:focus-visible {
  outline: none;
}
@media (max-width: 780px) {
  #block-app .filter-input {
    width: 90% !important;
    left: 10%;
  }
}
#block-app .buttons {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}
@media (max-width: 480px) {
  #block-app .buttons {
    justify-content: center;
  }
}
#block-app .buttons .button {
  margin-right: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}
#block-app .buttons .button span {
  position: absolute;
  font-family: "Cafeteria-Bold" !important;
  text-transform: uppercase;
}
#block-app .buttons .button:hover {
  cursor: pointer;
}
#block-app .buttons .button.active {
  color: white;
}
#block-app .buttons:nth-child(odd) .button-all-filters svg {
  fill: #00693E;
}
#block-app .buttons:nth-child(odd) .button-all-filters span {
  font-size: 19px;
}
#block-app .buttons:nth-child(odd) .term-filter-bg {
  fill: #00693E;
}
#block-app .buttons:nth-child(odd) .button.active span {
  color: white;
}
#block-app .buttons:nth-child(odd) .button.active .bg-button-filter {
  fill: #00693E;
}
#block-app .buttons:nth-child(odd) .button span {
  color: #00693E;
  font-size: 19px;
}
#block-app .buttons:nth-child(even) .button-all-filters svg {
  fill: #8CC751;
}
#block-app .buttons:nth-child(even) .button-all-filters span {
  font-size: 19px;
}
#block-app .buttons:nth-child(even) button.active path :nth-child(1) {
  fill: #8CC751;
}
#block-app .buttons:nth-child(even) .term-filter-bg {
  fill: #8CC751;
}
#block-app .buttons:nth-child(even) .button.active span {
  color: white;
}
#block-app .buttons:nth-child(even) .button.active .bg-button-filter {
  fill: #8CC751;
}
#block-app .buttons:nth-child(even) .button span {
  color: #8CC751;
  font-size: 19px;
}
#block-app .load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
#block-app .load-more-container .load-more {
  color: white;
  font-family: "Cafeteria-Bold" !important;
  font-size: 20px;
  position: absolute;
  cursor: pointer;
  text-transform: uppercase;
}
#block-app .load-more-container svg {
  cursor: pointer;
}
.block-pourquoi-differents {
  background-color: #00693E;
  padding-bottom: 280px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 200px;
}
@media (max-width: 980px) {
  .block-pourquoi-differents {
    margin-bottom: inherit;
    padding-bottom: inherit;
    flex-direction: column;
  }
}
.block-pourquoi-differents h2, .block-pourquoi-differents h3, .block-pourquoi-differents h4, .block-pourquoi-differents h5, .block-pourquoi-differents h6, .block-pourquoi-differents p, .block-pourquoi-differents div, .block-pourquoi-differents ul, .block-pourquoi-differents li, .block-pourquoi-differents a {
  color: white;
}
.block-pourquoi-differents h2 strong, .block-pourquoi-differents h3 strong, .block-pourquoi-differents h4 strong, .block-pourquoi-differents h5 strong, .block-pourquoi-differents h6 strong, .block-pourquoi-differents p strong, .block-pourquoi-differents div strong, .block-pourquoi-differents ul strong, .block-pourquoi-differents li strong, .block-pourquoi-differents a strong {
  color: white;
}
.block-pourquoi-differents .differences {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: -20%;
}
@media (max-width: 980px) {
  .block-pourquoi-differents .differences {
    position: relative;
    bottom: inherit;
  }
}
.block-pourquoi-differents .differences .difference {
  width: 22%;
  height: 330px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 49px 46px 32px rgba(0, 0, 0, 0.1);
  padding-bottom: 5rem;
  position: relative;
}
@media (max-width: 980px) {
  .block-pourquoi-differents .differences .difference {
    width: 48%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 780px) {
  .block-pourquoi-differents .differences .difference {
    width: 100%;
  }
}
.block-pourquoi-differents .differences .difference .difference-titre {
  padding: 1rem 1rem 1rem 1rem;
  position: absolute;
  bottom: 0;
}
.block-pourquoi-differents .differences .difference:nth-child(even) {
  background-color: white;
}
.block-pourquoi-differents .differences .difference:nth-child(even) h3 {
  color: #00693E;
}
.block-pourquoi-differents .differences .difference:nth-child(odd) {
  background-color: #8CC751;
}
.block-pourquoi-differents .differences .difference:nth-child(odd) h3 {
  color: white;
}
.block-pourquoi-differents .differences .difference .img-difference-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.block-pourquoi-differents .differences .difference .img-difference-wrapper img {
  height: auto;
  width: 100%;
}
.block-nos-valeurs .valeurs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 780px) {
  .block-nos-valeurs .valeurs {
    justify-content: center;
  }
}
.block-nos-valeurs .valeurs .valeur {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .block-nos-valeurs .valeurs .valeur {
    width: 40%;
  }
}
@media (max-width: 780px) {
  .block-nos-valeurs .valeurs .valeur {
    width: 60%;
  }
}
.block-nos-valeurs .valeurs .valeur:nth-child(odd) h3 {
  transform: rotate(14deg);
}
.block-nos-valeurs .valeurs .valeur:nth-child(even) h3 {
  transform: rotate(352deg);
}
.block-nos-valeurs .valeurs .valeur img {
  width: 130%;
}
@media (min-width: 480px) and (max-width: 1200px) {
  .block-nos-valeurs .valeurs .valeur img {
    width: 120%;
  }
}
@media (max-width: 480px) {
  .block-nos-valeurs .valeurs .valeur img {
    width: 200%;
  }
}
.block-nos-valeurs .valeurs .valeur h3 {
  position: absolute;
  color: white;
}
.block-recette-du-moment .content_width {
  position: relative;
  display: flex;
  align-items: center;
}
.block-recette-du-moment .col_flexible_wrapper .cta-container {
  position: absolute;
  bottom: 0;
  margin-left: 10%;
  margin-bottom: 10%;
}
@media (max-width: 760px) {
  .block-recette-du-moment .col_flexible_wrapper .cta-container {
    position: relative;
    bottom: 3rem;
    margin-left: 0 !important;
    margin-bottom: 0 !important;
    justify-content: start;
    display: flex;
  }
}
@media (max-width: 760px) {
  .block-recette-du-moment .col_flexible {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.block-recette-du-moment .green-edge, .block-recette-du-moment #recette-moment-bas-droit, .block-recette-du-moment #recette-moment-haut-gauche, .block-recette-du-moment .green-edge-mobile {
  position: absolute;
}
.block-recette-du-moment #recette-moment-bas-droit {
  bottom: -10%;
  left: 35%;
  z-index: 0;
}
@media (max-width: 780px) {
  .block-recette-du-moment #recette-moment-bas-droit {
    display: none !important;
  }
}
.block-recette-du-moment #recette-moment-haut-gauche {
  top: -10%;
  left: -3%;
  z-index: 0;
}
@media (max-width: 780px) {
  .block-recette-du-moment #recette-moment-haut-gauche {
    display: none !important;
  }
}
.block-recette-du-moment .green-edge {
  z-index: 1;
  width: 100%;
  height: 90%;
  display: flex;
}
@media (max-width: 760px) {
  .block-recette-du-moment .green-edge {
    display: none;
  }
}
.block-recette-du-moment .green-edge-mobile {
  display: none;
}
@media (max-width: 760px) {
  .block-recette-du-moment .green-edge-mobile {
    display: flex;
    height: 100%;
  }
}
.block-recette-du-moment .col_flexible_wrapper {
  z-index: 2;
  position: relative;
}
.block-recette-du-moment .col_flexible_wrapper .col-1, .block-recette-du-moment .col_flexible_wrapper .col-2 {
  width: 50%;
}
@media (max-width: 760px) {
  .block-recette-du-moment .col_flexible_wrapper .col-1, .block-recette-du-moment .col_flexible_wrapper .col-2 {
    width: 100%;
  }
}
.block-recette-du-moment .col_flexible_wrapper .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10% 10% 15% 10%;
}
@media (max-width: 760px) {
  .block-recette-du-moment .col_flexible_wrapper .col-1 {
    padding: 10% 0% 0% 0%;
  }
}
.block-recette-du-moment .col_flexible_wrapper .col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 780px) {
  .block-recette-du-moment .col_flexible_wrapper .col-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.block-recette-du-moment .col_flexible_wrapper .col-2 img {
  width: 70%;
  border-radius: 20px;
}
@media (max-width: 980px) {
  .block-recette-du-moment .col_flexible_wrapper .col-2 img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .block-recette-du-moment .col_flexible_wrapper .col-2 img {
    width: 100%;
    margin-bottom: 10%;
  }
}
.block-nos-recettes-gourmandes {
  display: flex;
  position: relative;
  margin-bottom: 10%;
  margin-top: 10%;
}
.block-nos-recettes-gourmandes h2, .block-nos-recettes-gourmandes h3, .block-nos-recettes-gourmandes p {
  color: white !important;
  margin-top: 1rem;
}
@media (max-width: 780px) {
  .block-nos-recettes-gourmandes h2, .block-nos-recettes-gourmandes h3, .block-nos-recettes-gourmandes p {
    width: 100%;
  }
}
.block-nos-recettes-gourmandes h2, .block-nos-recettes-gourmandes h3, .block-nos-recettes-gourmandes p {
  color: white !important;
  margin-top: 1rem;
}
.block-nos-recettes-gourmandes a {
  color: white;
}
.block-nos-recettes-gourmandes .bg-block-nos-recettes-gourmandes {
  background-color: #00693E;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  z-index: 0;
}
@media (max-width: 780px) {
  .block-nos-recettes-gourmandes .bg-block-nos-recettes-gourmandes {
    top: 0;
  }
}
.block-nos-recettes-gourmandes .col_flexible {
  z-index: 1;
}
@media (max-width: 1024px) {
  .block-nos-recettes-gourmandes .col_flexible {
    flex-direction: column;
  }
}
@media (max-width: 780px) {
  .block-nos-recettes-gourmandes .col_flexible .col_flexible_wrapper {
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
.block-nos-recettes-gourmandes .nos-recettes-col-1 {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1024px) {
  .block-nos-recettes-gourmandes .nos-recettes-col-1 {
    flex-direction: row;
    width: 100%;
  }
}
@media (max-width: 780px) {
  .block-nos-recettes-gourmandes .nos-recettes-col-1 {
    flex-direction: column;
  }
}
.block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-item {
  width: 31%;
}
@media (max-width: 780px) {
  .block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
}
.block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-img-container {
  height: 350px;
  overflow: hidden;
  margin: 0;
  border-radius: 20px;
}
@media (max-width: 780px) {
  .block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-img-container {
    width: 100%;
    height: 250px;
    border-radius: 20px;
  }
}
.block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-img-container img {
  width: 100%;
  height: 100%;
}
@media (max-width: 780px) {
  .block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-img-container img {
    width: 100%;
    height: auto;
  }
}
.block-nos-recettes-gourmandes .nos-recettes-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding-top: 5%;
  padding-left: 5%;
}
.block-nos-recettes-gourmandes .nos-recettes-col-2 .cta-bloc-flex a {
  /*        @media (max-width: 780px) {
                    display: flex;
                    justify-content: center;
                } */
}
@media (max-width: 1024px) {
  .block-nos-recettes-gourmandes .nos-recettes-col-2 {
    flex-direction: column;
    padding-top: 0;
    padding-left: 0;
    width: 100%;
  }
}
.block {
  position: relative;
}
.block.has-edge {
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (max-width: 1020px) {
  .block.has-edge {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
@media (max-width: 780px) {
  .block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.block .green-edge, .block .green-edge-desktop-tall {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 5%;
  bottom: 5%;
  height: 110%;
  padding-right: 5%;
  padding-left: 5%;
  margin: auto;
}
@media (max-width: 780px) {
  .block .green-edge, .block .green-edge-desktop-tall {
    width: 150%;
    height: 110%;
  }
}
.block-dernieres-recettes .dernieres-recettes {
  display: flex;
  justify-content: space-between;
}
.block-dernieres-recettes .dernieres-recettes .recette {
  width: 31%;
  background-color: white;
  padding-bottom: 1rem;
}
.block-dernieres-recettes .dernieres-recettes .recette h3 {
  font-size: 25px;
  color: #00693E;
}
.block-dernieres-recettes .dernieres-recettes .recette h3, .block-dernieres-recettes .dernieres-recettes .recette a {
  padding-left: 1rem;
  padding-right: 1rem;
}
.block-dernieres-recettes .dernieres-recettes .recette .img-recette-container {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-dernieres-recettes .dernieres-recettes .recette .img-recette-container img {
  width: 100%;
  height: 150%;
}
.block-fromages-uniques {
  background-color: whitesmoke;
  padding-bottom: 280px;
  position: relative;
  display: flex;
  justify-content: center;
}
.block-fromages-uniques #recette-moment-bas-droit, .block-fromages-uniques #recette-moment-haut-gauche {
  position: absolute;
  width: 15%;
  z-index: 1;
}
@media (max-width: 780px) {
  .block-fromages-uniques #recette-moment-bas-droit, .block-fromages-uniques #recette-moment-haut-gauche {
    display: none !important;
  }
}
.block-fromages-uniques #recette-moment-bas-droit {
  bottom: -25%;
  right: -5%;
  z-index: 0;
}
.block-fromages-uniques #recette-moment-haut-gauche {
  top: -15%;
  left: -3%;
  z-index: 0;
}
@media (max-width: 980px) {
  .block-fromages-uniques {
    margin-bottom: inherit;
    padding-bottom: inherit;
    flex-direction: column;
  }
}
.block-fromages-uniques.has-edge {
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (max-width: 780px) {
  .block-fromages-uniques.has-edge {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
@media (max-width: 780px) {
  .block-fromages-uniques {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.block-fromages-uniques .block {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
}
.block-fromages-uniques .green-edge, .block-fromages-uniques .green-edge-desktop-tall {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 5%;
  bottom: 5%;
  height: 110%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: auto;
}
@media (max-width: 780px) {
  .block-fromages-uniques .green-edge, .block-fromages-uniques .green-edge-desktop-tall {
    width: 150%;
    height: 110%;
  }
}
.block-fromages-uniques .cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 15%;
  z-index: 1;
  width: 70%;
}
@media (max-width: 780px) {
  .block-fromages-uniques .cartes {
    width: 90%;
  }
}
@media (max-width: 980px) {
  .block-fromages-uniques .cartes {
    position: relative;
    bottom: inherit;
  }
}
.block-fromages-uniques .cartes .carte {
  width: 22%;
  height: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 49px 46px 32px rgba(0, 0, 0, 0.1);
  padding: 4% 2% 2% 2%;
}
@media (max-width: 980px) {
  .block-fromages-uniques .cartes .carte {
    width: 48%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 780px) {
  .block-fromages-uniques .cartes .carte {
    width: 100%;
  }
}
.block-fromages-uniques .cartes .carte .carte-titre {
  padding-bottom: 2rem;
  text-align: center;
}
.block-fromages-uniques .cartes .carte p {
  line-height: 1.3rem;
}
.block-fromages-uniques .cartes .carte:nth-child(even) {
  background-color: white;
}
.block-fromages-uniques .cartes .carte:nth-child(even) h3 {
  color: #00693E;
}
.block-fromages-uniques .cartes .carte:nth-child(even) p {
  color: black;
}
.block-fromages-uniques .cartes .carte:nth-child(odd) {
  background-color: #8CC751;
}
.block-fromages-uniques .cartes .carte:nth-child(odd) h3 {
  color: white;
}
.block-fromages-uniques .cartes .carte:nth-child(odd) p {
  color: white;
}
.block-fromages-uniques .cartes .carte .img-difference-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.block-fromages-uniques .cartes .carte .img-difference-wrapper img {
  height: auto;
  width: auto;
}
.block-profil-type-recherche h2, .block-profil-type-recherche h3, .block-profil-type-recherche h4, .block-profil-type-recherche h5, .block-profil-type-recherche h6 {
  color: white !important;
  z-index: 1;
  position: relative;
}
.block-profil-type-recherche .half-background {
  background-color: #00693E;
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0;
  z-index: 0;
}
.block-profil-type-recherche p {
  position: relative;
  color: white !important;
  font-family: "Roboto", sans-serif;
}
.block-profil-type-recherche p strong {
  color: white !important;
}
.block-profil-type-recherche .postes-recherches {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 780px) {
  .block-profil-type-recherche .postes-recherches {
    flex-direction: column;
  }
}
.block-profil-type-recherche .postes-recherches .poste-recherche {
  padding: 5% 2%;
  width: 31%;
  margin-right: 2%;
  margin-bottom: 2%;
}
@media (max-width: 780px) {
  .block-profil-type-recherche .postes-recherches .poste-recherche {
    width: 100%;
    margin-bottom: 4%;
    padding: 5% 5%;
  }
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(even) {
  background: white;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(even) h3 {
  color: #00693E !important;
  text-align: center;
  padding-bottom: 1rem;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(even) .description-du-poste p {
  color: black !important;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(odd) {
  background-color: #8CC751;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(odd) h3 {
  color: white !important;
  padding-bottom: 1rem;
  text-align: center;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(odd) .description-du-poste p {
  color: white !important;
}
.col_flexible_3 .valeurs-nutritionnelles {
  width: calc(33.3333% - 1.333rem);
}
@media (max-width: 1024px) {
  .col_flexible_3 .valeurs-nutritionnelles {
    width: 100% !important;
  }
}
.col_flexible_3 .valeurs-nutritionnelles h2 {
  font-family: "Roboto", sans-serif !important;
  color: black !important;
  font-size: 20px;
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bold;
}
.col_flexible_2 .valeurs-nutritionnelles {
  width: calc(50% - 1rem);
}
.col_flexible_1 .valeurs-nutritionnelles {
  width: 100%;
}
.valeurs-nutritionnelles p {
  font-family: "Arial";
  font-size: 21px;
  text-align: center;
}
.valeurs-nutritionnelles ul {
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.08);
}
.valeurs-nutritionnelles ul.first-element-green li:nth-child(1) {
  color: #00693E;
}
.valeurs-nutritionnelles ul.first-element-green li:nth-child(1) span {
  font-weight: bold;
}
.valeurs-nutritionnelles ul li:nth-child(odd) {
  background-color: #F0EAEA;
}
.valeurs-nutritionnelles ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.valeurs-nutritionnelles ul li .valeur-nutritionnelle {
  width: 50%;
}
.valeurs-nutritionnelles ul li .valeur-nutritionnelle-nom {
  width: 50%;
}
.block-recette .recettes-caracteristiques-wrapper {
  display: flex;
  flex-direction: column;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block {
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .block-recette .recettes-caracteristiques-wrapper .part-1-block {
    flex-direction: column;
    margin-top: 1rem;
  }
  .block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche {
    width: 100% !important;
  }
  .block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite {
    width: 100% !important;
  }
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche {
  display: flex;
  flex-direction: column;
  width: 35%;
  background-color: white;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche .caracteristiques-recettes {
  padding: 10%;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche .caracteristiques-recettes .svg-recette {
  margin-right: 0.5rem;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche .caracteristiques-recettes p {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite {
  width: 65%;
  padding: 5%;
  background-color: #00693E;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite h3 {
  font-family: "Cafeteria-Bold";
  color: white;
  font-size: 2rem;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients ul, .block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients li, .block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients a {
  font-family: "Cafeteria-Regular";
  color: white;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients ul {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}
@media (max-width: 780px) {
  .block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients ul {
    flex-direction: column;
  }
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients li {
  list-style-type: disc;
  width: 50%;
  font-size: 20px;
  left: 15px;
}
@media (max-width: 780px) {
  .block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients li {
    width: 100%;
  }
}
.icon_multicolonnes {
  background-color: transparent !important;
}
.multicolonnes_wrapper .multicolonnes_item {
  border-radius: 20px;
}
.multicolonnes_wrapper .avec_bordure {
  background-color: #8CC751 !important;
  color: white;
}
.multicolonnes_wrapper .avec_bordure ul, .multicolonnes_wrapper .avec_bordure li, .multicolonnes_wrapper .avec_bordure a, .multicolonnes_wrapper .avec_bordure div, .multicolonnes_wrapper .avec_bordure p {
  color: white !important;
}
.block-plus-informations .col_flexible {
  display: flex;
}
@media (max-width: 780px) {
  .block-plus-informations .col_flexible {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.block-plus-informations .col_flexible .wysiwyg-content {
  width: 80%;
}
@media (max-width: 780px) {
  .block-plus-informations .col_flexible .wysiwyg-content {
    width: 100%;
  }
}
.block-plus-informations .col_flexible .cta-container {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 780px) {
  .block-plus-informations .col_flexible .cta-container {
    width: 100%;
    justify-content: flex-start;
  }
}
#aside_actualites {
  background-color: whitesmoke;
}
#aside_actualites #aside_actualites_wrapper {
  margin-top: 2rem;
}
#aside_actualites #aside_actualites_wrapper .article_extrait {
  background-color: white;
  border-radius: 0;
}
#aside_actualites #aside_actualites_title {
  font-size: 38px;
  color: #00693E;
  width: 100%;
  display: flex;
  justify-content: center;
}
#aside_actualites .article_extrait_wrapper_text {
  position: relative;
}
#aside_actualites .article_extrait_wrapper_text .article_extrait_post_title a {
  color: #00693E;
  font-size: 30px;
  font-family: "Cafeteria-Bold" !important;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#aside_actualites .article_extrait_wrapper_text .desc {
  font-size: 15px;
  line-height: 1.5;
}
#aside_actualites .article_extrait_wrapper_text .entry_title_date {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30%;
  top: -20px;
}
#aside_actualites .article_extrait_wrapper_text .entry_title_date .date-extrait {
  position: absolute;
}
#aside_actualites .article_extrait_wrapper_text .entry_title_date .date-extrait span {
  color: white;
  font-weight: bold;
  font-family: "Cafeteria-Regular" !important;
  font-size: 15px;
}
#aside_actualites .read-more {
  font-size: 14px;
  font-family: "Roboto";
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-weight: bold;
  color: #00693E;
}
#aside_actualites .read-more::after {
  content: ">";
  padding-left: 0.5rem;
}
#aside_actualites .lire-les-publications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#aside_actualites .lire-les-publications a {
  position: absolute;
  color: white;
  font-family: "Cafeteria-Bold" !important;
  font-size: 20px;
  text-transform: uppercase;
}
.rejoignez-nos-equipes {
  position: relative;
}
@media (max-width: 1024px) {
  .rejoignez-nos-equipes {
    padding-top: 2rem;
  }
}
.rejoignez-nos-equipes #recette-moment-haut-gauche {
  position: absolute;
  top: -80px;
  left: 20px;
  z-index: 0;
}
@media (max-width: 768px) {
  .rejoignez-nos-equipes #recette-moment-haut-gauche {
    display: none;
  }
}
.rejoignez-nos-equipes #recette-moment-bas-droit {
  position: absolute;
  bottom: -100px;
  right: 0;
  z-index: 0;
}
@media (max-width: 768px) {
  .rejoignez-nos-equipes #recette-moment-bas-droit {
    display: none;
  }
}
.rejoignez-nos-equipes .green-edge-desktop-tall {
  z-index: 1;
}
.rejoignez-nos-equipes .content_width {
  z-index: 2;
  position: relative;
}
.rejoignez-nos-equipes .col_flexible_wrapper {
  display: flex;
}
@media (max-width: 1024px) {
  .rejoignez-nos-equipes .col_flexible_wrapper {
    flex-direction: column;
  }
}
.rejoignez-nos-equipes .col_flexible_wrapper .col-1, .rejoignez-nos-equipes .col_flexible_wrapper .col-2 {
  width: 50%;
}
@media (max-width: 1024px) {
  .rejoignez-nos-equipes .col_flexible_wrapper .col-1, .rejoignez-nos-equipes .col_flexible_wrapper .col-2 {
    width: 100%;
    padding-left: 0rem !important;
  }
}
.rejoignez-nos-equipes .col_flexible_wrapper .col-2 {
  margin-top: 1rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rejoignez-nos-equipes .col_flexible_wrapper .surtitre-postes {
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: #00693E;
}
.rejoignez-nos-equipes .col_flexible_wrapper .postes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container {
  width: calc(33.33% - 1rem);
  padding: 5% 3%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container h4, .rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container p {
  color: white;
}
.rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container h4 {
  font-family: "Cafeteria-Bold" !important;
  text-align: center;
}
.rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container p {
  font-family: "Roboto", sans-serif !important;
}
@media (max-width: 1024px) {
  .rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container {
    width: 48%;
  }
}
@media (max-width: 780px) {
  .rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container {
    width: 100%;
    margin-right: 0rem !important;
    padding: 5% 5%;
  }
}
.rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container:nth-child(odd) {
  background-color: #8CC751;
}
.rejoignez-nos-equipes .col_flexible_wrapper .postes .poste-container:nth-child(even) {
  background-color: #00693E;
}
.bloc_questions_reponses .question_reponse_title_icone {
  background-color: transparent;
  right: 0;
  left: inherit;
}
.bloc_questions_reponses .question_reponse_title {
  z-index: 1;
  border: none;
}
.bloc_questions_reponses .question_reponse_title.active {
  background-color: transparent;
  padding-top: 2rem;
}
.bloc_questions_reponses .question_reponse_title.active h3 {
  color: white;
}
.bloc_questions_reponses .question_reponse_title:hover {
  background-color: transparent;
}
.bloc_questions_reponses .question_reponse_item {
  position: relative;
  padding-bottom: 1.5rem !important;
}
.bloc_questions_reponses .question_reponse_item .marge-bas {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.bloc_questions_reponses .question_reponse_item .fond-reponse {
  position: absolute;
  display: none;
}
.bloc_questions_reponses .question_reponse_item.active-question .fond-reponse {
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.bloc_questions_reponses .question_reponse_item.active-question .marge-bas {
  display: none;
}
.bloc_questions_reponses .question_reponse_wysiwyg {
  z-index: 1;
  position: relative;
  border: none;
}
.bloc_questions_reponses .question_reponse_wysiwyg p {
  color: white;
}
.block-nos-engagements {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%;
}
.block-nos-engagements .feuille-blanche-haut-container {
  top: 1%;
  left: 1%;
}
.block-nos-engagements .feuille-blanche-bas-container {
  bottom: 1%;
  right: 1%;
}
.block-nos-engagements .feuille-blanche {
  position: absolute;
  width: 20%;
}
.block-nos-engagements .engagements {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 780px) {
  .block-nos-engagements .engagements {
    justify-content: center;
  }
}
.block-nos-engagements .engagements .engagement {
  width: 25%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .block-nos-engagements .engagements .engagement {
    width: 35%;
  }
}
@media (max-width: 780px) {
  .block-nos-engagements .engagements .engagement {
    width: 70%;
  }
}
.block-nos-engagements .engagements .engagement img {
  width: 130%;
}
@media (min-width: 480px) and (max-width: 1200px) {
  .block-nos-engagements .engagements .engagement img {
    width: 120%;
  }
}
@media (max-width: 480px) {
  .block-nos-engagements .engagements .engagement img {
    width: 200%;
  }
}
.block-nos-engagements .engagements .engagement h3 {
  position: absolute;
  color: white;
  width: 50%;
  transform: rotate(14deg);
  font-size: 27px;
  font-family: "Cafeteria-Regular";
  text-align: center;
}
@media (max-width: 780px) {
  .block-nos-engagements .engagements .engagement h3 {
    width: 60%;
  }
}
@media (max-width: 480px) {
  .block-nos-engagements .engagements .engagement h3 {
    width: 80%;
  }
}
.block-nos-engagements .engagements .engagement.fond-blanc h3 {
  color: #00693E;
  transform: rotate(352deg);
}
#nf-form-title-2 {
  color: #00693E;
}
.coldouble_contact_right {
  background-color: white;
  padding: 0.5rem 2rem;
  border-radius: 20px;
}
.coldouble_contact_right label, .coldouble_contact_right li, .coldouble_contact_right a, .coldouble_contact_right p {
  font-family: "Cafeteria-Bold";
}
.coldouble_contact_right label {
  font-size: 20px !important;
}
.coldouble_contact_right .legende {
  font-size: 18px !important;
}
.coldouble_contact_right #nf-field-12 {
  background-color: #00693E !important;
  color: white !important;
  font-family: "Cafeteria-Bold";
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.coldouble_contact_right .nf-form-content .list-select-wrap .nf-field-element > div, .coldouble_contact_right .nf-form-content input:not([type=button]), .coldouble_contact_right .nf-form-content textarea {
  background-color: #f5f5f5 !important;
}
#menu-menu-footer-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 6rem;
  margin-bottom: 1rem;
}
#menu-menu-footer-2 li {
  width: 50%;
}
@media (max-width: 480px) {
  #menu-menu-footer-2 li {
    margin-bottom: 1rem;
  }
}
#menu-menu-footer-2 li a {
  color: white;
}
#menu-footer a {
  color: #00693E !important;
}
.aside_prefooter_col h3 {
  color: white !important;
  font-size: 1.5rem;
}
.aside_prefooter_col_1 {
  width: calc(20% - 2rem);
}
.aside_prefooter_col_2 {
  width: calc(30% - 2rem);
  padding-top: 2rem;
}
#aside_prefooter {
  background-color: #00693E;
}
#footer {
  background-color: white;
}
#footer #footer_wrapper {
  color: black !important;
}
#footer #footer_wrapper #footer_content {
  display: flex;
  justify-content: space-between;
  margin-right: 16rem;
}
@media (max-width: 780px) {
  #footer #footer_wrapper #footer_content {
    margin-right: inherit;
    flex-direction: column;
  }
}
#footer #footer_wrapper #footer_content span {
  color: black !important;
}
.lien-site-eco-concu {
  text-decoration: underline;
  color: white;
}
#footer_certification_wrapper {
  justify-content: right;
}
#footer_certification_wrapper .footer_certification {
  height: 8rem;
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.aside_prefooter_col_3 {
  display: flex;
  align-items: center;
  justify-content: end;
}
@media (max-width: 768px) {
  .aside_prefooter_col_3 {
    justify-content: start;
  }
}
.aside_prefooter_col p.coordonnees_p_i svg {
  color: white;
}
@media (max-width: 780px) {
  .aside_prefooter_wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .aside_prefooter_col_1, .aside_prefooter_col_2 {
    width: 100%;
    align-items: flex-start;
  }
  .aside_prefooter_col {
    width: 100%;
    align-items: flex-start;
  }
  #menu-menu-footer-2 {
    height: auto;
    align-items: flex-start;
  }
  #menu-menu-footer-2 li {
    width: 100%;
    align-items: flex-start;
  }
}
.cta-header-container {
  display: flex;
  justify-content: flex-start;
}
.entry_title_home {
  display: flex;
  padding-top: 0 !important;
  background-color: whitesmoke;
}
@media (max-width: 980px) {
  .entry_title_home {
    flex-direction: column;
  }
}
.entry_title_home .title_home_wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15%;
  background-color: whitesmoke;
}
@media (max-width: 980px) {
  .entry_title_home .title_home_wrapper {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
  }
}
.entry_title_home .title_home_wrapper h1 {
  color: #c5191b;
  font-size: 100px;
}
@media (max-width: 1400px) {
  .entry_title_home .title_home_wrapper h1 {
    font-size: 90px;
  }
}
@media (max-width: 1100px) {
  .entry_title_home .title_home_wrapper h1 {
    font-size: 80px;
  }
}
@media (max-width: 980px) {
  .entry_title_home .title_home_wrapper h1 {
    font-size: 70px;
  }
}
.entry_title_home .title_home_wrapper .phrase-dintroduction-entete {
  font-family: "Cafeteria-Bold";
  font-size: 35px;
  line-height: 1.3;
  position: relative;
}
.entry_title_home .title_home_wrapper .phrase-dintroduction-entete .chevre-home-wrapper {
  width: 35%;
  position: absolute;
  left: -38%;
  top: -90px;
}
@media (max-width: 980px) {
  .entry_title_home .title_home_wrapper .phrase-dintroduction-entete .chevre-home-wrapper {
    display: none;
  }
}
.entry_title_home .title_home_wrapper .cta-container {
  margin-top: 1rem;
}
@media (max-width: 780px) {
  .entry_title_home .title_home_wrapper .cta-container {
    justify-content: start !important;
  }
}
.entry_title_home .home_image_wrapper {
  position: relative;
  width: 50%;
}
@media (max-width: 980px) {
  .entry_title_home .home_image_wrapper {
    width: 100%;
  }
}
.entry_title_home .home_image_wrapper #home-svg-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
@media (max-width: 980px) {
  .entry_title_home .home_image_wrapper #home-svg-left {
    display: none;
  }
}
.entry_title_home .home_image_wrapper img {
  width: 100%;
  height: 100%;
}
#header {
  height: 80px;
}
#header #close-burger {
  display: none;
}
#header #search_icon_close {
  width: 25px !important;
}
#header #figure-logo-header {
  width: 100px;
  height: auto;
}
#header #figure-logo-header img {
  position: absolute;
  top: 20%;
  background: white;
  border-radius: 50% !important;
  height: 147px;
}
@media (max-width: 1024px) {
  #header #figure-logo-header img {
    height: 112px;
  }
}
@media (max-width: 768px) {
  #header #figure-logo-header img {
    height: 90px;
  }
}
#header #branding #content_header {
  height: 100%;
}
#header #branding #content_header a {
  display: block;
  height: 100%;
}
#header #branding #content_header a #figure-logo-header {
  height: 100%;
  position: relative;
}
#header #content_nav_header #search_trigger {
  height: 80px;
  width: 40px;
  margin-right: 1rem;
}
#header #content_nav_header #search_trigger svg {
  width: 100%;
  height: 100%;
}
#menu-menu-mobile li a {
  color: black !important;
}
#menu-menu-mobile .current_page_item a {
  color: #00693E !important;
}
#menu-menu-principal li a, #menu-menu-mobile li a {
  font-family: "Cafeteria-Bold";
  color: #8CC751;
  font-size: 20px;
}
#header_contact a {
  font-size: 18px;
}
#header_contact svg {
  height: 40px;
}
#header_contact .cta-container {
  padding-top: 0 !important;
}
#search_box {
  background-color: white;
}
#search_box #search_icon {
  width: 80px;
  height: 50px;
}
#burger_rs_accroche {
  font-family: "Cafeteria-Bold";
}
.breadcrumb_top {
  padding-left: 10rem;
  background-color: whitesmoke;
}
.breadcrumb_top span, .breadcrumb_top .breadcrumb_separator {
  color: black !important;
}
.post_thumbnail_texte, .article_blog .entry_title .post_thumbnail, .post_thumbnail_bg {
  background-color: whitesmoke;
}
.article_blog .entry_title .post_thumbnail {
  padding-top: 0.5rem;
}
.type-post .post_thumbnail_texte_inner .legende {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}
.type-post .post_thumbnail_texte_inner .legende a {
  font-family: "Cafeteria-Bold" !important;
  font-size: 23px !important;
  color: #00693E;
}
.type-post .post_thumbnail {
  flex-direction: column;
}
.type-post .post_thumbnail .post_thumbnail_image, .type-post .post_thumbnail .post_thumbnail_texte {
  width: 100%;
}
.article_blog .entry_title .post_thumbnail_image figure {
  padding: inherit !important;
}
.article_blog .entry_title .post_thumbnail_image figure img {
  object-fit: contain !important;
  position: relative;
}
.article_blog .entry_title .post_thumbnail_texte_inner {
  position: inherit !important;
  padding-left: inherit !important;
  transform: inherit !important;
}
.article_blog .entry_title h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.article_blog .entry_title .post_thumbnail {
  padding-bottom: 0rem !important;
}
.publie-le {
  text-align: center;
  font-size: 15px;
  color: #646464;
}
.cta-container {
  display: flex;
  padding-top: 1rem;
}
.cta-container.cta_align_left {
  justify-content: flex-start;
}
@media (max-width: 780px) {
  .cta-container.cta_align_left {
    margin-top: 1.5rem;
    justify-content: left;
  }
}
.cta-container.cta_align_right {
  justify-content: flex-end;
}
@media (max-width: 780px) {
  .cta-container.cta_align_right {
    margin-top: 1.5rem;
    justify-content: right;
  }
}
.cta-container.cta_align_center {
  justify-content: center;
}
.cta-container .cta-bloc-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-container .cta-bloc-flex a {
  position: absolute;
  font-family: "Cafeteria-Bold" !important;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  padding: inherit !important;
  border-bottom: inherit !important;
  box-shadow: inherit !important;
  transition: inherit !important;
  display: flex;
  align-items: center;
}
.col_flexible_2 .col_flexible_item:nth-child(even) .cta-container {
  padding-left: 2rem;
}
@media (max-width: 780px) {
  .col_flexible_2 .col_flexible_item:nth-child(even) .cta-container {
    padding-left: 0rem;
    margin-top: 1.5rem;
  }
}
.cta-header {
  display: flex;
  align-items: center;
}
.cta-header a {
  position: absolute;
  font-family: "Cafeteria-Bold";
  color: white;
  padding: inherit !important;
  border-bottom: inherit !important;
  box-shadow: inherit !important;
  transition: inherit !important;
}
.download_doc_size {
  color: white;
  font-family: "Cafeteria-Bold" !important;
}
@font-face {
  font-family: "Cafeteria-Regular";
  src: url("../fonts/Cafeteria-Regular.woff2") format("woff2"), url("../fonts/Cafeteria-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cafeteria-Bold";
  src: url("../fonts/subset-Cafeteria-Bold.woff2") format("woff2"), url("../fonts/subset-Cafeteria-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cafeteria-Black";
  src: url("../fonts/subset-Cafeteria-Black.woff2") format("woff2"), url("../fonts/subset-Cafeteria-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*
Fichier de customisation du CSS
*/
figure {
  background-color: transparent !important;
  border-radius: 20px !important;
}
figure img {
  border-radius: 20px !important;
}
.fond_blanc, #header_back, body, .page_defaut .entry_title_bg, .page_les_actualites .entry_title_bg {
  background-color: whitesmoke !important;
}
.fond_blanc p {
  color: black;
}
.fond_blanc p strong {
  color: #00693E;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_blanc .entry-content p {
  color: black;
}
.fond_blanc .entry-content p strong {
  color: #00693E;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_blanc .col_flexible_bordure {
  background-color: #00693E;
  color: white;
}
.fond_blanc .col_flexible_bordure h1, .fond_blanc .col_flexible_bordure h2, .fond_blanc .col_flexible_bordure h3, .fond_blanc .col_flexible_bordure h4, .fond_blanc .col_flexible_bordure h5, .fond_blanc .col_flexible_bordure h6 div, .fond_blanc .col_flexible_bordure p, .fond_blanc .col_flexible_bordure ul, .fond_blanc .col_flexible_bordure li, .fond_blanc .col_flexible_bordure a {
  color: white;
}
.fond_blanc .col_flexible_bordure h1 strong, .fond_blanc .col_flexible_bordure h2 strong, .fond_blanc .col_flexible_bordure h3 strong, .fond_blanc .col_flexible_bordure h4 strong, .fond_blanc .col_flexible_bordure h5 strong, .fond_blanc .col_flexible_bordure h6 div strong, .fond_blanc .col_flexible_bordure p strong, .fond_blanc .col_flexible_bordure ul strong, .fond_blanc .col_flexible_bordure li strong, .fond_blanc .col_flexible_bordure a strong {
  color: white;
}
.fond_blanc .col_flexible_bordure p {
  color: white;
}
.fond_blanc .col_flexible_bordure p strong {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_blanc .col_flexible_bordure .entry-content p {
  color: white;
}
.fond_blanc .col_flexible_bordure .entry-content p strong {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_vert_fonce {
  background-color: #00693E !important;
  position: relative;
}
.fond_vert_fonce h1, .fond_vert_fonce h2, .fond_vert_fonce h3, .fond_vert_fonce h4, .fond_vert_fonce h5, .fond_vert_fonce h6, .fond_vert_fonce div, .fond_vert_fonce p, .fond_vert_fonce ul, .fond_vert_fonce li, .fond_vert_fonce a {
  color: white;
}
.fond_vert_fonce h1 strong, .fond_vert_fonce h2 strong, .fond_vert_fonce h3 strong, .fond_vert_fonce h4 strong, .fond_vert_fonce h5 strong, .fond_vert_fonce h6 strong, .fond_vert_fonce div strong, .fond_vert_fonce p strong, .fond_vert_fonce ul strong, .fond_vert_fonce li strong, .fond_vert_fonce a strong {
  color: white;
}
.fond_vert_fonce p {
  color: white;
}
.fond_vert_fonce p strong {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_vert_fonce .entry-content p {
  color: whiteblack;
}
.fond_vert_fonce .entry-content p strong {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_vert_fonce .col_flexible_bordure {
  background-color: white;
  color: black;
}
.fond_vert_fonce .col_flexible_bordure h1, .fond_vert_fonce .col_flexible_bordure h2, .fond_vert_fonce .col_flexible_bordure h3, .fond_vert_fonce .col_flexible_bordure h4, .fond_vert_fonce .col_flexible_bordure h5, .fond_vert_fonce .col_flexible_bordure h6 {
  color: #8CC751;
}
.fond_vert_fonce .col_flexible_bordure h1 strong, .fond_vert_fonce .col_flexible_bordure h2 strong, .fond_vert_fonce .col_flexible_bordure h3 strong, .fond_vert_fonce .col_flexible_bordure h4 strong, .fond_vert_fonce .col_flexible_bordure h5 strong, .fond_vert_fonce .col_flexible_bordure h6 strong {
  color: #00693E;
}
.fond_vert_fonce .col_flexible_bordure div, .fond_vert_fonce .col_flexible_bordure p, .fond_vert_fonce .col_flexible_bordure ul, .fond_vert_fonce .col_flexible_bordure li, .fond_vert_fonce .col_flexible_bordure a {
  color: black;
}
.fond_vert_fonce .col_flexible_bordure div strong, .fond_vert_fonce .col_flexible_bordure p strong, .fond_vert_fonce .col_flexible_bordure ul strong, .fond_vert_fonce .col_flexible_bordure li strong, .fond_vert_fonce .col_flexible_bordure a strong {
  color: #00693E;
}
.fond_vert_fonce .col_flexible_bordure p {
  color: black;
}
.fond_vert_fonce .col_flexible_bordure p strong {
  color: #00693E;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_vert_fonce .col_flexible_bordure .entry-content p {
  color: black;
}
.fond_vert_fonce .col_flexible_bordure .entry-content p strong {
  color: #00693E;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_vert_fonce .block {
  z-index: 1;
}
.fond_vert_clair {
  background-color: #8CC751 !important;
}
.fond_vert_clair h1, .fond_vert_clair h2, .fond_vert_clair h3, .fond_vert_clair h4, .fond_vert_clair h5, .fond_vert_clair h6, .fond_vert_clair div, .fond_vert_clair p, .fond_vert_clair ul, .fond_vert_clair li, .fond_vert_clair a {
  color: white;
}
.fond_vert_clair h1 strong, .fond_vert_clair h2 strong, .fond_vert_clair h3 strong, .fond_vert_clair h4 strong, .fond_vert_clair h5 strong, .fond_vert_clair h6 strong, .fond_vert_clair div strong, .fond_vert_clair p strong, .fond_vert_clair ul strong, .fond_vert_clair li strong, .fond_vert_clair a strong {
  color: white;
}
.fond_vert_clair p {
  color: white;
}
.fond_vert_clair p strong {
  color: white;
  font-weight: bold;
}
.fond_vert_clair .entry-content p {
  color: white;
}
.fond_vert_clair .entry-content p strong {
  color: white;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_vert_clair .col_flexible_bordure {
  background-color: white;
  color: #00693E;
}
.fond_vert_clair .col_flexible_bordure h1, .fond_vert_clair .col_flexible_bordure h2, .fond_vert_clair .col_flexible_bordure h3, .fond_vert_clair .col_flexible_bordure h4, .fond_vert_clair .col_flexible_bordure h5, .fond_vert_clair .col_flexible_bordure h6 {
  color: #00693E;
}
.fond_vert_clair .col_flexible_bordure h1 strong, .fond_vert_clair .col_flexible_bordure h2 strong, .fond_vert_clair .col_flexible_bordure h3 strong, .fond_vert_clair .col_flexible_bordure h4 strong, .fond_vert_clair .col_flexible_bordure h5 strong, .fond_vert_clair .col_flexible_bordure h6 strong {
  color: #00693E;
}
.fond_vert_clair .col_flexible_bordure div, .fond_vert_clair .col_flexible_bordure p, .fond_vert_clair .col_flexible_bordure ul, .fond_vert_clair .col_flexible_bordure li, .fond_vert_clair .col_flexible_bordure a {
  color: black;
}
.fond_vert_clair .col_flexible_bordure div strong, .fond_vert_clair .col_flexible_bordure p strong, .fond_vert_clair .col_flexible_bordure ul strong, .fond_vert_clair .col_flexible_bordure li strong, .fond_vert_clair .col_flexible_bordure a strong {
  color: black;
}
.fond_vert_clair .col_flexible_bordure p {
  color: black;
}
.fond_vert_clair .col_flexible_bordure p strong {
  color: #00693E;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.fond_vert_clair .col_flexible_bordure .entry-content p {
  color: black;
}
.fond_vert_clair .col_flexible_bordure .entry-content p strong {
  color: #00693E;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
.vague-haut {
  bottom: -1px;
  position: relative;
}
.vague-basse {
  top: -1px;
  position: relative;
}
.vague-haut svg, .vague-basse svg {
  width: 100%;
}
@media (max-width: 780px) {
  .vague-haut svg, .vague-basse svg {
    width: 200%;
  }
}
.vague-svg {
  fill: #00693E;
}
.fond_vert_fonce_vague .vague-svg {
  fill: #00693E;
}
.fond_vert_clair_vague .vague-svg {
  fill: #8CC751;
}
.fond_blanc_vague .vague-svg {
  fill: white;
}
article {
  background-color: whitesmoke;
}
.padding_section_top {
  padding-top: 3rem;
}
.padding_section_bottom {
  padding-bottom: 3rem;
}
.margin_section_top {
  margin-top: 3rem;
}
.margin_section_bottom {
  margin-bottom: 3rem;
}
#header_back {
  height: 80px;
}
.share-date-container {
  margin-top: 2rem;
}
.share-date-container .article_share_date span {
  font-family: "Cafeteria-Bold" !important;
}
.nav_blog_wrapper {
  background-color: whitesmoke;
}
.nav_blog_wrapper ul, .nav_blog_wrapper li, .nav_blog_wrapper a, .nav_blog_wrapper span, .nav_blog_wrapper .nav_blog_title {
  font-family: "Cafeteria-Bold" !important;
}
.rs_link_footer {
  position: absolute;
  bottom: 2rem;
  right: 5rem;
}
@media (max-width: 780px) {
  .rs_link_footer {
    position: relative;
    bottom: inherit !important;
    right: inherit !important;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
  }
}
.rs_link_item {
  position: relative;
  background-color: transparent;
  height: 50px;
  width: 50px;
}
.rs_link_item:hover {
  background-color: transparent;
}
.rs_link_item .icone-rs {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.rs_link_item .svg {
  z-index: 1;
  color: white;
  height: 1.2rem;
}
.copyright_image {
  transform: rotate(270deg);
  bottom: 1.5rem;
  right: -0.3rem;
}
.copyright_image_txt {
  color: white !important;
}
.svg-tik-tok {
  height: 1.2rem !important;
}
.svg-tik-tok path {
  fill: white;
}
.col_flexible_bordure .entry-content ul li:before {
  color: white;
}
@media (max-width: 480px) {
  #charger_les_images_wrapper {
    justify-content: flex-end !important;
  }
}
@media (max-width: 780px) {
  figure#logo_footer {
    margin: inherit !important;
  }
}
/*# sourceMappingURL=D:\wamp64\www\petitbilly/wp-content/themes/nanosite-proefficace-child/css/mainchild.css.map */
/*# sourceMappingURL=mainchild.css.map */