h2 {
  font-size: 38px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Cafeteria-Bold" !important;
  color: #8CC751;
}
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-family: "Cafeteria-Bold" !important;
  color: #00693E;
}
.entry-content h1, .entry-content h2, .entry-content h3, .entry-content h4, .entry-content h5, .entry-content h6 {
  font-family: "Cafeteria-Bold" !important;
  color: #8CC751;
}
.entry-content h1 strong, .entry-content h2 strong, .entry-content h3 strong, .entry-content h4 strong, .entry-content h5 strong, .entry-content h6 strong {
  font-family: "Cafeteria-Bold" !important;
  color: #00693E;
}
.fond_blanc h1, .fond_blanc h2, .fond_blanc h3, .fond_blanc h4, .fond_blanc h5, .fond_blanc h6 {
  color: #8CC751;
}
.fond_blanc h1 strong, .fond_blanc h2 strong, .fond_blanc h3 strong, .fond_blanc h4 strong, .fond_blanc h5 strong, .fond_blanc h6 strong {
  color: #00693E;
}
.fond_blanc .entry-content h1, .fond_blanc .entry-content h2, .fond_blanc .entry-content h3, .fond_blanc .entry-content h4, .fond_blanc .entry-content h5, .fond_blanc .entry-content h6 {
  color: #8CC751;
}
.fond_blanc .entry-content h1 strong, .fond_blanc .entry-content h2 strong, .fond_blanc .entry-content h3 strong, .fond_blanc .entry-content h4 strong, .fond_blanc .entry-content h5 strong, .fond_blanc .entry-content h6 strong {
  color: #00693E;
}
.fond_clair h1, .fond_clair h2, .fond_clair h3, .fond_clair h4, .fond_clair h5, .fond_clair h6 {
  color: white;
}
.fond_clair h1 strong, .fond_clair h2 strong, .fond_clair h3 strong, .fond_clair h4 strong, .fond_clair h5 strong, .fond_clair h6 strong {
  color: white;
}
.fond_clair .entry-content h1, .fond_clair .entry-content h2, .fond_clair .entry-content h3, .fond_clair .entry-content h4, .fond_clair .entry-content h5, .fond_clair .entry-content h6 {
  color: white;
}
.fond_clair .entry-content h1 strong, .fond_clair .entry-content h2 strong, .fond_clair .entry-content h3 strong, .fond_clair .entry-content h4 strong, .fond_clair .entry-content h5 strong, .fond_clair .entry-content h6 strong {
  color: white;
}
.fond_clair2 h1, .fond_clair2 h2, .fond_clair2 h3, .fond_clair2 h4, .fond_clair2 h5, .fond_clair2 h6 {
  color: white;
}
.fond_clair2 h1 strong, .fond_clair2 h2 strong, .fond_clair2 h3 strong, .fond_clair2 h4 strong, .fond_clair2 h5 strong, .fond_clair2 h6 strong {
  color: white;
}
.fond_clair2 .entry-content h1, .fond_clair2 .entry-content h2, .fond_clair2 .entry-content h3, .fond_clair2 .entry-content h4, .fond_clair2 .entry-content h5, .fond_clair2 .entry-content h6 {
  color: white;
}
.fond_clair2 .entry-content h1 strong, .fond_clair2 .entry-content h2 strong, .fond_clair2 .entry-content h3 strong, .fond_clair2 .entry-content h4 strong, .fond_clair2 .entry-content h5 strong, .fond_clair2 .entry-content h6 strong {
  color: white;
}
#block-app .results {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
#block-app .results .cpt-extrait {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 32%;
  -webkit-box-shadow: 0px 6px 23px 8px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 23px 8px rgba(0, 0, 0, 0.27);
  position: relative;
}
#block-app .results .cpt-extrait h3 {
  width: 100;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: #00693E;
}
#block-app .results .cpt-extrait .terms-container {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 1rem;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.6rem;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper .term {
  position: absolute;
  left: 10%;
  top: 10%;
  color: white;
  font-family: "Cafeteria-Bold" !important;
  font-size: 19px;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper .term-bg {
  width: 8rem;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper:nth-child(even) .term-bg {
  fill: #00693E;
}
#block-app .results .cpt-extrait .terms-container .term-wrapper:nth-child(odd) .term-bg {
  fill: #8CC751;
}
@media (max-width: 1280px) {
  #block-app .results .cpt-extrait {
    width: 48%;
  }
}
@media (max-width: 768px) {
  #block-app .results .cpt-extrait {
    margin-right: 0;
    width: 100%;
  }
}
#block-app .filters {
  display: flex;
  flex-direction: column;
}
#block-app .filters .text-filter-container {
  position: relative;
  margin-bottom: 1rem;
}
#block-app .filters .text-filter-container .svg-loop-searchbox {
  position: absolute;
  top: 25%;
  left: 2%;
}
#block-app .filter-input {
  border: none;
  z-index: 1;
  position: absolute;
  left: 6%;
  top: 0;
  height: 100%;
  width: 35%;
  background: transparent;
}
#block-app .filter-input:focus-visible {
  outline: none;
}
#block-app .buttons {
  display: flex;
  margin-bottom: 1rem;
}
#block-app .buttons:nth-child(odd) .button-all-filters svg {
  fill: #00693E;
}
#block-app .buttons:nth-child(odd) .button-all-filters span {
  color: white !important;
  font-size: 19px;
}
#block-app .buttons:nth-child(odd) .term-filter-bg {
  fill: #00693E;
}
#block-app .buttons:nth-child(odd) .button.active span {
  color: white;
}
#block-app .buttons:nth-child(odd) .button.active .bg-button-filter {
  fill: #00693E;
}
#block-app .buttons:nth-child(odd) .button span {
  color: #00693E;
  font-size: 19px;
}
#block-app .buttons:nth-child(even) .button-all-filters svg {
  fill: #8CC751;
}
#block-app .buttons:nth-child(even) .button-all-filters span {
  color: white !important;
  font-size: 19px;
}
#block-app .buttons:nth-child(even) button.active path :nth-child(1) {
  fill: #8CC751;
}
#block-app .buttons:nth-child(even) .term-filter-bg {
  fill: #8CC751;
}
#block-app .buttons:nth-child(even) .button.active span {
  color: white;
}
#block-app .buttons:nth-child(even) .button.active .bg-button-filter {
  fill: #8CC751;
}
#block-app .buttons:nth-child(even) .button span {
  color: #8CC751;
  font-size: 19px;
}
#block-app .buttons .button {
  margin-right: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#block-app .buttons .button span {
  position: absolute;
  font-family: "Cafeteria-Bold" !important;
}
#block-app .buttons .button:hover {
  cursor: pointer;
}
#block-app .buttons .button.active {
  color: white;
}
.block-pourquoi-differents {
  background-color: #00693E;
  padding-bottom: 280px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
@media (max-width: 980px) {
  .block-pourquoi-differents {
    margin-bottom: inherit;
    padding-bottom: inherit;
    flex-direction: column;
  }
}
.block-pourquoi-differents h2, .block-pourquoi-differents p {
  color: white;
}
.block-pourquoi-differents .differences {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: -20%;
}
@media (max-width: 980px) {
  .block-pourquoi-differents .differences {
    position: relative;
    bottom: inherit;
  }
}
.block-pourquoi-differents .differences .difference {
  width: 22%;
  height: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 49px 46px 32px rgba(0, 0, 0, 0.1);
}
@media (max-width: 980px) {
  .block-pourquoi-differents .differences .difference {
    width: 48%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 780px) {
  .block-pourquoi-differents .differences .difference {
    width: 100%;
  }
}
.block-pourquoi-differents .differences .difference .difference-titre {
  padding-bottom: 2rem;
}
.block-pourquoi-differents .differences .difference:nth-child(even) {
  background-color: white;
}
.block-pourquoi-differents .differences .difference:nth-child(even) h3 {
  color: #00693E;
}
.block-pourquoi-differents .differences .difference:nth-child(odd) {
  background-color: #8CC751;
}
.block-pourquoi-differents .differences .difference:nth-child(odd) h3 {
  color: white;
}
.block-pourquoi-differents .differences .difference .img-difference-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.block-pourquoi-differents .differences .difference .img-difference-wrapper img {
  height: auto;
  width: auto;
}
.block-nos-valeurs .valeurs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .block-nos-valeurs .valeurs {
    justify-content: center;
  }
}
.block-nos-valeurs .valeurs .valeur {
  width: 20%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1200px) {
  .block-nos-valeurs .valeurs .valeur {
    width: 40%;
  }
}
@media (max-width: 780px) {
  .block-nos-valeurs .valeurs .valeur {
    width: 60%;
  }
}
.block-nos-valeurs .valeurs .valeur img {
  width: 130%;
}
@media (min-width: 480px) and (max-width: 1200px) {
  .block-nos-valeurs .valeurs .valeur img {
    width: 120%;
  }
}
@media (max-width: 480px) {
  .block-nos-valeurs .valeurs .valeur img {
    width: 200%;
  }
}
.block-nos-valeurs .valeurs .valeur h3 {
  position: absolute;
  color: white;
}
.block-recette-du-moment .content_width {
  position: relative;
  display: flex;
  align-items: center;
}
@media (max-width: 760px) {
  .block-recette-du-moment .col_flexible {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.block-recette-du-moment .green-edge, .block-recette-du-moment #recette-moment-bas-droit, .block-recette-du-moment #recette-moment-haut-gauche, .block-recette-du-moment .green-edge-mobile {
  position: absolute;
}
.block-recette-du-moment #recette-moment-bas-droit {
  bottom: -10%;
  left: 35%;
  z-index: 0;
}
@media (max-width: 780px) {
  .block-recette-du-moment #recette-moment-bas-droit {
    width: 20%;
  }
}
.block-recette-du-moment #recette-moment-haut-gauche {
  top: -10%;
  left: -3%;
  z-index: 0;
}
@media (max-width: 780px) {
  .block-recette-du-moment #recette-moment-haut-gauche {
    width: 20%;
  }
}
.block-recette-du-moment .green-edge {
  z-index: 1;
  width: 100%;
  height: 90%;
  display: flex;
}
@media (max-width: 760px) {
  .block-recette-du-moment .green-edge {
    display: none;
  }
}
.block-recette-du-moment .green-edge-mobile {
  display: none;
}
@media (max-width: 760px) {
  .block-recette-du-moment .green-edge-mobile {
    display: flex;
    height: 100%;
  }
}
.block-recette-du-moment .col_flexible_wrapper {
  z-index: 2;
  position: relative;
}
.block-recette-du-moment .col_flexible_wrapper .col-1, .block-recette-du-moment .col_flexible_wrapper .col-2 {
  width: 50%;
}
@media (max-width: 760px) {
  .block-recette-du-moment .col_flexible_wrapper .col-1, .block-recette-du-moment .col_flexible_wrapper .col-2 {
    width: 100%;
  }
}
.block-recette-du-moment .col_flexible_wrapper .col-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10%;
}
@media (max-width: 760px) {
  .block-recette-du-moment .col_flexible_wrapper .col-1 {
    padding: 10% 20% 0% 20%;
  }
}
.block-recette-du-moment .col_flexible_wrapper .col-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 760px) {
  .block-recette-du-moment .col_flexible_wrapper .col-2 {
    padding: 10%;
  }
}
@media (max-width: 500px) {
  .block-recette-du-moment .col_flexible_wrapper .col-2 {
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 0;
    padding-left: 0;
  }
}
.block-recette-du-moment .col_flexible_wrapper .col-2 img {
  width: 70%;
  border-radius: 5%;
}
@media (max-width: 980px) {
  .block-recette-du-moment .col_flexible_wrapper .col-2 img {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .block-recette-du-moment .col_flexible_wrapper .col-2 img {
    width: 100%;
    margin-bottom: 10%;
  }
}
.block-nos-recettes-gourmandes {
  display: flex;
  position: relative;
  margin-bottom: 10%;
  margin-top: 10%;
}
.block-nos-recettes-gourmandes h2, .block-nos-recettes-gourmandes h3, .block-nos-recettes-gourmandes p, .block-nos-recettes-gourmandes a {
  color: white;
}
.block-nos-recettes-gourmandes .bg-block-nos-recettes-gourmandes {
  background-color: #00693E;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
  z-index: 0;
}
.block-nos-recettes-gourmandes .col_flexible {
  z-index: 1;
}
.block-nos-recettes-gourmandes .nos-recettes-col-1 {
  width: 70%;
  display: flex;
  justify-content: space-around;
}
.block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-item {
  width: 31%;
}
.block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-img-container {
  height: 350px;
  overflow: hidden;
  margin: 0;
  border-radius: 5%;
}
.block-nos-recettes-gourmandes .nos-recettes-col-1 .recette-img-container img {
  width: auto;
  height: 100%;
}
.block-nos-recettes-gourmandes .nos-recettes-col-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  padding-top: 5%;
  padding-left: 5%;
}
.block {
  position: relative;
}
.block.has-edge {
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (max-width: 760px) {
  .block.has-edge {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
@media (max-width: 760px) {
  .block {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.block .green-edge, .block .green-edge-desktop-tall {
  z-index: 0;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 5%;
  bottom: 5%;
  height: 110%;
  padding-right: 5%;
  padding-left: 5%;
  margin: auto;
}
@media (max-width: 760px) {
  .block .green-edge, .block .green-edge-desktop-tall {
    width: 150%;
    height: 110%;
  }
}
.block-dernieres-recettes .dernieres-recettes {
  display: flex;
  justify-content: space-between;
}
.block-dernieres-recettes .dernieres-recettes .recette {
  width: 31%;
}
.block-dernieres-recettes .dernieres-recettes .recette .img-recette-container {
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-dernieres-recettes .dernieres-recettes .recette .img-recette-container img {
  width: 100%;
  height: 150%;
}
.block-fromages-uniques {
  background-color: white;
  padding-bottom: 280px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.block-fromages-uniques #recette-moment-bas-droit, .block-fromages-uniques #recette-moment-haut-gauche {
  position: absolute;
  width: 15%;
  z-index: 1;
}
.block-fromages-uniques #recette-moment-bas-droit {
  bottom: -25%;
  right: -5%;
  z-index: 0;
}
@media (max-width: 780px) {
  .block-fromages-uniques #recette-moment-bas-droit {
    width: 20%;
  }
}
.block-fromages-uniques #recette-moment-haut-gauche {
  top: -15%;
  left: -3%;
  z-index: 0;
}
@media (max-width: 780px) {
  .block-fromages-uniques #recette-moment-haut-gauche {
    width: 20%;
  }
}
@media (max-width: 980px) {
  .block-fromages-uniques {
    margin-bottom: inherit;
    padding-bottom: inherit;
    flex-direction: column;
  }
}
.block-fromages-uniques.has-edge {
  margin-top: 5%;
  margin-bottom: 5%;
}
@media (max-width: 760px) {
  .block-fromages-uniques.has-edge {
    margin-top: 15%;
    margin-bottom: 15%;
  }
}
@media (max-width: 760px) {
  .block-fromages-uniques {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.block-fromages-uniques .block {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 10%;
  display: flex;
  justify-content: center;
}
.block-fromages-uniques .green-edge, .block-fromages-uniques .green-edge-desktop-tall {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 5%;
  bottom: 5%;
  height: 110%;
  padding-right: 0 !important;
  padding-left: 0 !important;
  margin: auto;
}
@media (max-width: 760px) {
  .block-fromages-uniques .green-edge, .block-fromages-uniques .green-edge-desktop-tall {
    width: 150%;
    height: 110%;
  }
}
.block-fromages-uniques .cartes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  bottom: 15%;
  z-index: 1;
  width: 70%;
}
@media (max-width: 980px) {
  .block-fromages-uniques .cartes {
    position: relative;
    bottom: inherit;
  }
}
.block-fromages-uniques .cartes .carte {
  width: 22%;
  height: 280px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 49px 46px 32px rgba(0, 0, 0, 0.1);
  padding: 4% 2% 2% 2%;
}
@media (max-width: 980px) {
  .block-fromages-uniques .cartes .carte {
    width: 48%;
    margin-bottom: 1rem;
  }
}
@media (max-width: 780px) {
  .block-fromages-uniques .cartes .carte {
    width: 100%;
  }
}
.block-fromages-uniques .cartes .carte .carte-titre {
  padding-bottom: 2rem;
  text-align: center;
}
.block-fromages-uniques .cartes .carte p {
  line-height: 1.3rem;
}
.block-fromages-uniques .cartes .carte:nth-child(even) {
  background-color: white;
}
.block-fromages-uniques .cartes .carte:nth-child(even) h3 {
  color: #00693E;
}
.block-fromages-uniques .cartes .carte:nth-child(even) p {
  color: black;
}
.block-fromages-uniques .cartes .carte:nth-child(odd) {
  background-color: #8CC751;
}
.block-fromages-uniques .cartes .carte:nth-child(odd) h3 {
  color: white;
}
.block-fromages-uniques .cartes .carte:nth-child(odd) p {
  color: white;
}
.block-fromages-uniques .cartes .carte .img-difference-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.block-fromages-uniques .cartes .carte .img-difference-wrapper img {
  height: auto;
  width: auto;
}
.block-profil-type-recherche .half-background {
  background-color: #00693E;
  position: absolute;
  width: 100%;
  height: 75%;
  top: 0;
  z-index: 0;
}
.block-profil-type-recherche .postes-recherches {
  z-index: 1;
  position: relative;
  display: flex;
  justify-content: center;
}
.block-profil-type-recherche .postes-recherches .poste-recherche {
  padding: 5% 2%;
  width: 28%;
  margin-right: 2%;
  margin-bottom: 2%;
}
@media (max-width: 768px) {
  .block-profil-type-recherche .postes-recherches .poste-recherche {
    width: 48%;
  }
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(even) {
  background: white;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(even) h3 {
  color: #00693E;
  text-align: center;
  padding-bottom: 1rem;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(even) .description-du-poste p {
  color: black;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(odd) {
  background-color: #8CC751;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(odd) h3 {
  color: white;
}
.block-profil-type-recherche .postes-recherches .poste-recherche:nth-child(odd) .description-du-poste p {
  color: white;
}
#block-app .results .cpt-extrait .img-container {
  height: 230px;
}
#block-app .results .cpt-extrait .img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#block-app .results .cpt-extrait .buttons-extrait {
  padding-bottom: 1rem;
}
#block-app .results .cpt-extrait .buttons-extrait .cta_center {
  display: flex;
  justify-content: center;
}
#block-app .results .cpt-extrait .buttons-extrait a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
#block-app .results .cpt-extrait .buttons-extrait a span {
  z-index: 1;
  position: absolute;
  font-family: "Cafeteria-Bold" !important;
  color: white;
}
.valeurs {
  width: calc(50% - 1rem);
}
.valeurs p {
  font-family: "Arial";
  font-size: 21px;
  text-align: center;
}
.valeurs ul {
  height: auto;
  border-radius: 20px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.08);
}
.valeurs ul li:nth-child(odd) {
  background-color: #F0EAEA;
}
.valeurs ul li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.valeurs ul li .valeur-nutritionnelle {
  width: 50%;
}
.valeurs ul li .valeur-nutritionnelle-nom {
  width: 50%;
}
.block-recette .recettes-caracteristiques-wrapper {
  display: flex;
  flex-direction: column;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block {
  display: flex;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche .caracteristiques-recettes {
  padding: 10%;
  background-color: whitesmoke;
  border-radius: 20px 0 0 20px;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche .caracteristiques-recettes .svg-recette {
  margin-right: 0.5rem;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-gauche .caracteristiques-recettes p {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite {
  width: 50%;
  padding: 5%;
  background-color: #00693E;
  border-radius: 0 20px 20px 0;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite h3 {
  font-family: "Cafeteria-Bold";
  color: white;
  font-size: 2rem;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients ul, .block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients li, .block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients a {
  font-family: "Cafeteria-Regular";
  color: white;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients ul {
  display: flex;
  flex-wrap: wrap;
}
.block-recette .recettes-caracteristiques-wrapper .part-1-block .col-droite .liste-ingredients li {
  list-style-type: disc;
  width: 50%;
  font-size: 20px;
}
#aside_actualites {
  background-color: whitesmoke;
}
#aside_actualites #aside_actualites_wrapper {
  margin-top: 2rem;
}
#aside_actualites #aside_actualites_wrapper .article_extrait {
  background-color: white;
  border-radius: 0;
}
#aside_actualites #aside_actualites_title {
  font-size: 38px;
  color: #00693E;
  width: 100%;
  display: flex;
  justify-content: center;
}
#aside_actualites .article_extrait_wrapper_text {
  position: relative;
}
#aside_actualites .article_extrait_wrapper_text .article_extrait_post_title a {
  color: #00693E;
  font-size: 30px;
  font-family: "Cafeteria-Bold" !important;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
#aside_actualites .article_extrait_wrapper_text .desc {
  font-size: 15px;
  line-height: 1.5;
}
#aside_actualites .article_extrait_wrapper_text .entry_title_date {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30%;
  top: -20px;
}
#aside_actualites .article_extrait_wrapper_text .entry_title_date .date-extrait {
  position: absolute;
}
#aside_actualites .article_extrait_wrapper_text .entry_title_date .date-extrait span {
  color: white;
  font-weight: bold;
  font-family: "Cafeteria-Regular" !important;
  font-size: 15px;
}
#aside_actualites .read-more {
  font-size: 14px;
  font-family: "Roboto";
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  font-weight: bold;
  color: #00693E;
}
#aside_actualites .read-more::after {
  content: ">";
  padding-left: 0.5rem;
}
#aside_actualites .lire-les-publications {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#aside_actualites .lire-les-publications a {
  position: absolute;
  color: white;
  font-family: "Cafeteria-Bold" !important;
  font-size: 20px;
  text-transform: uppercase;
}
#menu-menu-footer-2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 6rem;
}
#menu-menu-footer-2 li {
  width: 50%;
}
.aside_prefooter_col h3 {
  color: white !important;
  font-size: 1.5rem;
}
.aside_prefooter_col_1 {
  width: calc(20% - 2rem);
}
.aside_prefooter_col_2 {
  width: calc(30% - 2rem);
  padding-top: 2rem;
}
#aside_prefooter {
  background-color: #00693E;
}
#footer {
  background-color: white;
}
#footer #footer_wrapper {
  color: black !important;
}
#footer #footer_wrapper #footer_content {
  display: flex;
  justify-content: space-between;
}
#footer #footer_wrapper #footer_content span {
  color: black !important;
}
.lien-site-eco-concu {
  text-decoration: underline;
}
#footer_certification_wrapper {
  justify-content: right;
}
#footer_certification_wrapper .footer_certification {
  height: 8rem;
}
.aside_prefooter_col p.coordonnees_p_i svg {
  color: white;
}
.cta-header-container {
  display: flex;
  justify-content: flex-start;
}
.entry_title_home {
  display: flex;
  padding-top: 0 !important;
  background-color: whitesmoke;
}
@media (max-width: 980px) {
  .entry_title_home {
    flex-direction: column;
  }
}
.entry_title_home .title_home_wrapper {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 15%;
  background-color: whitesmoke;
}
@media (max-width: 980px) {
  .entry_title_home .title_home_wrapper {
    width: 100%;
    padding-top: 15%;
    padding-bottom: 15%;
  }
}
.entry_title_home .title_home_wrapper h1 {
  color: #c5191b;
  font-size: 100px;
}
@media (max-width: 1400px) {
  .entry_title_home .title_home_wrapper h1 {
    font-size: 90px;
  }
}
@media (max-width: 1100px) {
  .entry_title_home .title_home_wrapper h1 {
    font-size: 80px;
  }
}
@media (max-width: 980px) {
  .entry_title_home .title_home_wrapper h1 {
    font-size: 70px;
  }
}
.entry_title_home .title_home_wrapper .phrase-dintroduction-entete {
  font-family: "Cafeteria-Bold";
  font-size: 35px;
  line-height: 1.3;
  position: relative;
}
.entry_title_home .title_home_wrapper .phrase-dintroduction-entete .chevre-home-wrapper {
  width: 35%;
  position: absolute;
  left: -224px;
  bottom: -229px;
}
@media (max-width: 1400px) {
  .entry_title_home .title_home_wrapper .phrase-dintroduction-entete .chevre-home-wrapper {
    left: -178px;
    bottom: -140px;
  }
}
@media (max-width: 1100px) {
  .entry_title_home .title_home_wrapper .phrase-dintroduction-entete .chevre-home-wrapper {
    left: -142px;
    bottom: -91px;
  }
}
@media (max-width: 980px) {
  .entry_title_home .title_home_wrapper .phrase-dintroduction-entete .chevre-home-wrapper {
    display: none;
  }
}
.entry_title_home .title_home_wrapper .cta-container {
  margin-top: 1rem;
}
.entry_title_home .home_image_wrapper {
  position: relative;
  width: 50%;
}
@media (max-width: 980px) {
  .entry_title_home .home_image_wrapper {
    width: 100%;
  }
}
.entry_title_home .home_image_wrapper #home-svg-left {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
@media (max-width: 980px) {
  .entry_title_home .home_image_wrapper #home-svg-left {
    display: none;
  }
}
.entry_title_home .home_image_wrapper img {
  width: 100%;
  height: 100%;
}
#header {
  height: 80px;
}
#header #close-burger {
  display: none;
}
#header #search_icon_close {
  width: 25px !important;
}
#header #figure-logo-header {
  width: 100px;
  height: auto;
}
#header #figure-logo-header img {
  position: absolute;
  top: 20%;
  background: white;
  border-radius: 50%;
  height: 112px;
}
#header #branding #content_header {
  height: 100%;
}
#header #branding #content_header a {
  display: block;
  height: 100%;
}
#header #branding #content_header a #figure-logo-header {
  height: 100%;
  position: relative;
}
#header #content_nav_header #search_trigger {
  height: 80px;
  width: 40px;
  margin-right: 1rem;
}
#header #content_nav_header #search_trigger svg {
  width: 100%;
  height: 100%;
}
#menu-menu-principal li a, #menu-menu-mobile li a {
  font-family: "Cafeteria-Bold";
  color: #8CC751;
  font-size: 20px;
}
#header_contact a {
  font-size: 18px;
}
#header_contact svg {
  height: 40px;
}
#header_contact .cta-container {
  padding-top: 0 !important;
}
#search_box {
  background-color: white;
}
#search_box #search_icon {
  width: 80px;
  height: 50px;
}
#burger_rs_accroche {
  font-family: "Cafeteria-Bold";
}
/* .cta_btn_lead, .cta_primaire, .cta_secondaire {
    position: relative;
    display: inline-block !important;
    #fond-cta-wrapper {
        position: relative;
        z-index: 0;
        #fond-cta {
            position: absolute;
        }
        a {
            position: absolute;
            z-index: 1;
            font-family: 'Cafeteria-Bold' !important;
            background-color:transparent !important;
         
            &:hover {
                background-color: transparent !important;
            }
        }
    }
   
} */
.cta-container {
  display: flex;
  padding-top: 1rem;
}
.cta-container.cta_align_left {
  justify-content: flex-start;
}
.cta-container.cta_align_right {
  justify-content: flex-end;
}
.cta-container.cta_align_center {
  justify-content: center;
}
.cta-container .cta-bloc-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta-container .cta-bloc-flex a {
  position: absolute;
  font-family: "Cafeteria-Bold" !important;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.col_flexible_2 .col_flexible_item:nth-child(even) .cta-container {
  padding-left: 2rem;
}
.cta-header {
  display: flex;
  align-items: center;
}
.cta-header a {
  position: absolute;
  font-family: "Cafeteria-Bold";
  color: white;
}
@font-face {
  font-family: "Cafeteria-Regular";
  src: url("../fonts/Cafeteria-Regular.woff2") format("woff2"), url("../fonts/Cafeteria-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cafeteria-Bold";
  src: url("../fonts/subset-Cafeteria-Bold.woff2") format("woff2"), url("../fonts/subset-Cafeteria-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*
Fichier de customisation du CSS
*/
figure {
  background-color: transparent !important;
}
.fond_blanc, #header_back {
  background-color: whitesmoke;
}
.fond_vert_fonce {
  background-color: #00693E;
}
.fond_vert_fonce h1, .fond_vert_fonce h2, .fond_vert_fonce h3, .fond_vert_fonce h4, .fond_vert_fonce h5, .fond_vert_fonce h6, .fond_vert_fonce div, .fond_vert_fonce p, .fond_vert_fonce ul, .fond_vert_fonce li, .fond_vert_fonce a {
  color: white;
}
.fond_vert_clair {
  background-color: #8CC751;
}
.fond_vert_clair h1, .fond_vert_clair h2, .fond_vert_clair h3, .fond_vert_clair h4, .fond_vert_clair h5, .fond_vert_clair h6, .fond_vert_clair div, .fond_vert_clair p, .fond_vert_clair ul, .fond_vert_clair li, .fond_vert_clair a {
  color: white;
}
.fond_vert_fonce {
  position: relative;
}
.fond_vert_fonce .block {
  z-index: 1;
}
.fond_vert_fonce .vague-haute {
  z-index: 0;
  position: absolute;
  top: -20px;
  width: 130%;
  left: -15%;
  display: flex;
  justify-content: center;
}
.fond_vert_fonce .vague-haute svg {
  width: 100%;
}
.fond_vert_fonce .vague-basse {
  z-index: 0;
  position: absolute;
  bottom: -20px;
  width: 130%;
  left: -15%;
  display: flex;
  justify-content: center;
}
.fond_vert_fonce .vague-basse svg {
  width: 100%;
}
article {
  background-color: whitesmoke;
}
.padding_section_top {
  padding-top: 3rem;
}
.padding_section_bottom {
  padding-bottom: 3rem;
}
.margin_section_top {
  margin-top: 3rem;
}
.margin_section_bottom {
  margin-bottom: 3rem;
}
#header_back {
  height: 80px;
}
/*# sourceMappingURL=D:\wamp64\www\petitbilly/wp-content/themes/nanosite-proefficace-child/css/mainchild.css.map */
/*# sourceMappingURL=mainchild.css.map */