#nf-form-title-2 {
    color: $darkGreenBilly;
}

.coldouble_contact_right {
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    label, li, a, p {
        font-family: 'Cafeteria-Bold';
    }
    label {
        font-size: 20px !important;
    }

    .legende {
        font-size: 18px !important;
    }

    #nf-field-12 {
        background-color: $darkGreenBilly !important;        
        color: white !important;
        font-family: 'Cafeteria-Bold';
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea {
        background-color: #f5f5f5 !important;
    }
}