/* .cta_btn_lead, .cta_primaire, .cta_secondaire {
    position: relative;
    display: inline-block !important;
    #fond-cta-wrapper {
        position: relative;
        z-index: 0;
        #fond-cta {
            position: absolute;
        }
        a {
            position: absolute;
            z-index: 1;
            font-family: 'Cafeteria-Bold' !important;
            background-color:transparent !important;
         
            &:hover {
                background-color: transparent !important;
            }
        }
    }
   
} */
.cta-container {
    display: flex;
    padding-top: 1rem;
    &.cta_align_left {
        justify-content: flex-start;
        @media (max-width: 780px) {
            justify-content: center;
        }
    }
    &.cta_align_right {
        justify-content: flex-end;
        @media (max-width: 780px) {
            justify-content: center;
        }
    }
    &.cta_align_center {
        justify-content: center;
    }
    .cta-bloc-flex {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            position: absolute;
            font-family: 'Cafeteria-Bold' !important;
            color: white;
            font-size: 1.3rem;
            text-transform: uppercase;
        }
    }
}

.col_flexible_2 .col_flexible_item:nth-child(even) {
    .cta-container {
        padding-left: 2rem;
        @media (max-width: 780px) {
            padding-left: 0rem;
        }
    }
}

.cta-header {
    display: flex;
    align-items: center;
    a {
        position: absolute;
        font-family: 'Cafeteria-Bold';
        color: white;
    }
}