.cta-container {
    display: flex;
    padding-top: 1rem;

    &.cta_align_left {
        justify-content: flex-start;

        @media (max-width: 780px) {
            margin-top: 1.5rem;
            justify-content: left;
        }
    }

    &.cta_align_right {
        justify-content: flex-end;

        @media (max-width: 780px) {
            margin-top: 1.5rem;
            justify-content: right;
        }
    }

    &.cta_align_center {
        justify-content: center;
    }

    .cta-bloc-flex {
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            position: absolute;
            font-family: 'Cafeteria-Bold' !important;
            color: white;
            font-size: 1.3rem;
            text-transform: uppercase;
            padding: inherit !important;
            border-bottom:inherit !important;
            box-shadow: inherit !important;
            transition: inherit !important;
            display: flex;
            align-items: center;
        }
    }
}

.col_flexible_2 .col_flexible_item:nth-child(even) {
    .cta-container {
        padding-left: 2rem;

        @media (max-width: 780px) {
            padding-left: 0rem;
            margin-top: 1.5rem;
        }
    }
}

.cta-header {
    display: flex;
    align-items: center;

    a {
        position: absolute;
        font-family: 'Cafeteria-Bold';
        color: white;
        padding: inherit !important;
        border-bottom:inherit !important;
        box-shadow: inherit !important;
        transition: inherit !important;
    }
}

.download_doc_size{
    color: white;
    font-family: 'Cafeteria-Bold' !important;
}