/*
Fichier de customisation du CSS
*/

figure {
    background-color: transparent !important;
    border-radius: 20px !important;
    img {
        border-radius: 20px !important;
    }
}


.fond_blanc,
#header_back, .block, body, .page_defaut .entry_title_bg, .page_les_actualites .entry_title_bg {
    background-color: $fondBlancCasse !important;
}

.fond_vert_fonce {
    background-color: $darkGreenBilly !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    p,
    ul,
    li,
    a {
        color: white;
    }
}

.fond_vert_clair {
    background-color: $clearGreenBilly !important; 

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    p,
    ul,
    li,
    a {
        color: white;
    }
}


.fond_vert_fonce {
    position: relative;
    .block {
        z-index: 1;
    }
   
}

.vague-haut, .vague-basse {
    svg {
        width: 100%;
    }
}

article {
    background-color: $fondBlancCasse;
}

.padding_section_top {
    padding-top: 3rem;
}

.padding_section_bottom {
    padding-bottom: 3rem;
}

.margin_section_top {
    margin-top: 3rem;
}

.margin_section_bottom {
    margin-bottom: 3rem;
}

#header_back {
    height: 80px;
}

.share-date-container {
    margin-top: 2rem;
    .article_share_date {
        span {
            font-family: "Cafeteria-Bold" !important;
        }
    }
}

.nav_blog_wrapper{
    background-color: $fondBlancCasse;
    ul, li, a, span{
        font-family: "Cafeteria-Bold" !important;

    }
}