/*
Fichier de customisation du CSS
*/

figure {
    background-color: transparent !important;
    border-radius: 20px !important;

    img {
        border-radius: 20px !important;
    }
}


.fond_blanc,
#header_back,
body,
.page_defaut .entry_title_bg,
.page_les_actualites .entry_title_bg {
    background-color: $fondBlancCasse !important;
}

.fond_blanc {
    p {
        color: black;

        strong {
            color: $darkGreenBilly;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;
        }
    }

    .entry-content {
        p {
            color: black;

            strong {
                color: $darkGreenBilly;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;
            }
        }
    }

    .col_flexible_bordure {
        background-color: $darkGreenBilly;
        color: white;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 div,
        p,
        ul,
        li,
        a {
            color: white;

            strong {
                color: white;
            }
        }

        p {
            color: white;

            strong {
                color: white;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;

            }
        }

        .entry-content {
            p {
                color: white;

                strong {
                    color: white;
                    font-weight: bold;
                    font-family: 'Roboto', sans-serif;

                }
            }
        }
    }
}

.fond_vert_fonce {
    background-color: $darkGreenBilly !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    p,
    ul,
    li,
    a {
        color: white;

        strong {
            color: white;
        }
    }

    p {
        color: white;

        strong {
            color: white;
            font-weight: bold;
            font-family: 'Roboto', sans-serif;

        }
    }

    .entry-content {
        p {
            color: whiteblack;

            strong {
                color: white;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;

            }
        }
    }


    .col_flexible_bordure {
        background-color: white;
        color: black;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $clearGreenBilly;

            strong {
                color: $darkGreenBilly;
            }
        }

        div,
        p,
        ul,
        li,
        a {
            color: black;

            strong {
                color: $darkGreenBilly;
            }
        }

        p {
            color: black;

            strong {
                color: $darkGreenBilly;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;

            }
        }

        .entry-content {
            p {
                color: black;

                strong {
                    color: $darkGreenBilly;
                    font-weight: bold;
                    font-family: 'Roboto', sans-serif;

                }
            }
        }

    }

    position: relative;

    .block {
        z-index: 1;
    }
}

.fond_vert_clair {
    background-color: $clearGreenBilly !important;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    p,
    ul,
    li,
    a {
        color: white;

        strong {
            color: white;
        }
    }

    p {
        color: white;

        strong {
            color: white;
            font-weight: bold;
        }
    }

    .entry-content {
        p {
            color: white;

            strong {
                color: white;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;

            }
        }
    }

    .col_flexible_bordure {
        background-color: white;
        color: $darkGreenBilly;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $darkGreenBilly;

            strong {
                color: $darkGreenBilly;
            }
        }

        div,
        p,
        ul,
        li,
        a {
            color: black;

            strong {
                color: black;
            }
        }

        p {
            color: black;

            strong {
                color: $darkGreenBilly;
                font-weight: bold;
                font-family: 'Roboto', sans-serif;

            }
        }

        .entry-content {
            p {
                color: black;

                strong {
                    color: $darkGreenBilly;
                    font-weight: bold;
                    font-family: 'Roboto', sans-serif;

                }
            }
        }
    }
}

.vague-haut {
    bottom: -1px;
    position: relative;
}

.vague-basse {
    top: -1px;
    position: relative;
}

.vague-haut,
.vague-basse {
    svg {
        width: 100%;

        @media (max-width: 780px) {
            width: 200%;
        }
    }
}

.vague-svg {
    fill: $darkGreenBilly;
}

.fond_vert_fonce_vague {
    .vague-svg {
        fill: $darkGreenBilly;
    }
}


.fond_vert_clair_vague {
    .vague-svg {
        fill: $clearGreenBilly;
    }
}

.fond_blanc_vague {
    .vague-svg {
        fill: white;
    }
}

article {
    background-color: $fondBlancCasse;
}

.padding_section_top {
    padding-top: 3rem;
}

.padding_section_bottom {
    padding-bottom: 3rem;
}

.margin_section_top {
    margin-top: 3rem;
}

.margin_section_bottom {
    margin-bottom: 3rem;
}

#header_back {
    height: 80px;
}

.share-date-container {
    margin-top: 2rem;

    .article_share_date {
        span {
            font-family: "Cafeteria-Bold" !important;
        }
    }
}

#nav_blog{
    border-top:1px solid $darkGreenBilly;
}
.nav_blog_wrapper {
    background-color: $fondBlancCasse;

    ul,
    li,
    a,
    span,
    .nav_blog_title {
        font-family: "Cafeteria-Bold" !important;
    }
}

.rs_link_footer {
/*     position: absolute;
    bottom: 2rem;
    right: 5rem; */

    @media (max-width: 780px) {
        position: relative;
        bottom: inherit !important;
        right: inherit !important;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 4rem;
        margin: auto;
    }
}

.rs_link {
    display: flex;
}

.rs_link_item {
    position: relative;
    background-color: transparent;
    height: 50px;
    width: 50px;

    &:hover {
        background-color: transparent;
    }

    .icone-rs {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
    }

    .svg {
        z-index: 1;
        color: white;
        height: 1.2rem;
        width: 1.2rem;
    }
}

.copyright_image {
    transform: rotate(270deg);
    bottom: 1.5rem;
    right: -0.3rem;
}

.copyright_image_txt {
    color: white !important
}

.svg-tik-tok {
    height: 1.2rem !important;
    width: 1.2rem !important;
    path {
        fill: white;
    }
}

.col_flexible_bordure {
    .entry-content ul li:before {
        color: white;
    }
}


@media (max-width:480px) {
    #charger_les_images_wrapper {
        justify-content: flex-end !important;
    }
}


@media (max-width: 780px) {
    figure#logo_footer {
        margin: inherit !important;
    }
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .article_blog .entry_title .post_thumbnail_texte_inner {
        background-color: transparent !important;
    }
}

.col_right_wide_imgright, .col_left_wide_imgleft  {
    background-color: transparent !important;
}


#coordonnees_image_wrapper {
    border-radius: 20px 20px 0 0!important;
}
#coordonnees_image img {
    border-radius: 20px 20px 0 0!important;
}



.liste_posts{
    &__card{
        background-color:#fff;
        // image
        & figure{
            aspect-ratio: 1.5;
            & .liste_posts__card_nouveau{
                position:absolute;
                color:#fff;
                right:0;
                top:0.75rem;
                line-height:1;
                padding:0.3rem 0.75rem;
                background-color: $secondaire;
                font-family: "Cafeteria-Bold" !important;
                font-size: 1.2rem;
            }
            & img{
                border-radius: 0!important;
            }
        }
        // Titre
        & .liste_posts__card_title{
            font-size: 1.8rem;
            line-height: 1.2;
            text-align: center;
            & a{
                color:$secondaire;
                &:hover{
                    color:$secondaire2;
                }
            }
        }
        & .liste_posts__card_weight{
            text-align: center;
            color:$clearGreenBilly;
            font-weight: 700;
            margin-top: 0.5rem;
        }
        // call to action
        & .liste_posts__card_cta{
            position: absolute;
            bottom: 1.5rem;
            left: 50%;
            transform: translatex(-50%);
            & a{
                color:$secondaire2;
                font-family: $regular;
            }
        }
    }
}


.single-produits .post_thumbnail{
    flex-direction: row-reverse;
    & .post_thumbnail_texte_inner{
        padding-right:2rem;
    }
}