@font-face {
    font-family: 'Cafeteria-Regular';
    src: url('../fonts/Cafeteria-Regular.woff2') format('woff2'),
        url('../fonts/Cafeteria-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cafeteria-Bold';
    src: url('../fonts/subset-Cafeteria-Bold.woff2') format('woff2'),
        url('../fonts/subset-Cafeteria-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');