p {
    font-family: 'Roboto', sans-serif;
    strong {
        font-family: 'Roboto', sans-serif;
    }
}

h1 {
    color: $darkGreenBilly;
    font-size: 50px; 
}

.entry_title, .entry-content {
    h1 {
        color: $darkGreenBilly;
        font-size: 50px;  
    }
}

h2 {
    color: $clearGreenBilly;
}

h1, h2 {
    font-family: 'Cafeteria-Black' !important;

    strong {
        font-family: 'Cafeteria-Black';
        color: $darkGreenBilly;

    }
}

.entry-content {
    h1, h2 {
        font-family: 'Cafeteria-Black' !important;
        color: $clearGreenBilly;
    
        strong {
            font-family: 'Cafeteria-Black';
            color: $darkGreenBilly;
    
        }
    }
}

h3,
h4,
h5,
h6 {
    font-family: 'Cafeteria-Bold' !important;
    color: $clearGreenBilly;
    strong {
        font-family: 'Cafeteria-Bold' !important;
        color: $darkGreenBilly;
    }
}

.entry-content {

    h3,
    h4,
    h5,
    h6 {
        font-family: 'Cafeteria-Bold' !important;
        color: $clearGreenBilly;
        strong {
            font-family: 'Cafeteria-Bold' !important;
            color: $darkGreenBilly;
        }
    }
}

.fond_blanc {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $clearGreenBilly;

        strong {
            color: $darkGreenBilly;
        }
    }

    .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $clearGreenBilly;

            strong {
                color: $darkGreenBilly;
            }
        }
    }
}

.fond_clair {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;

        strong {
            color: white;

        }
    }

    .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;

            strong {
                color: white;

            }
        }
    }
}

.fond_clair2 {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;

        strong {
            color: white;

        }
    }

    .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;

            strong {
                color: white;

            }
        }
    }
}


h2 {
    font-size: 38px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 23px;
}

h6 {
    font-size: 20px;
}