h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Cafeteria-Bold' !important;

    strong {
        font-family: 'Cafeteria-Bold' !important;
    }
}

.entry-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Cafeteria-Bold' !important;

        strong {
            font-family: 'Cafeteria-Bold' !important;
        }
    }
}

.fond_blanc {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $clearGreenBilly;

        strong {
            color: $darkGreenBilly;
        }
    }

    .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $clearGreenBilly;

            strong {
                color: $darkGreenBilly;
            }
        }
    }
}

.fond_clair {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;

        strong {
            color: white;

        }
    }

    .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;

            strong {
                color: white;

            }
        }
    }
}

.fond_clair2 {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: white;

        strong {
            color: white;

        }
    }

    .entry-content {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;

            strong {
                color: white;

            }
        }
    }
}