#menu-menu-footer-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 6rem;

    li {
        width: 50%;

        a {
            color: white;
        }
    }
}

#menu-footer {
    a {
        color: $darkGreenBilly !important;
    }
}

.aside_prefooter_col {
    h3 {
        color: white !important;
        font-size: 1.5rem;
    }
}

.aside_prefooter_col_1 {
    width: calc(20% - 2rem);
}

.aside_prefooter_col_2 {
    width: calc(30% - 2rem);
    padding-top: 2rem;
}

#aside_prefooter {
    background-color: $darkGreenBilly;
}

#footer {
    background-color: white;

    #footer_wrapper {
        color: black !important;

        #footer_content {
            display: flex;
            justify-content: space-between;

            span {
                color: black !important;
            }
        }
    }
}

.lien-site-eco-concu {
    text-decoration: underline;
    color: white;
}

#footer_certification_wrapper {
    justify-content: right;

    .footer_certification {
        height: 8rem;
    }

}

.aside_prefooter_col p.coordonnees_p_i svg {
    color: white;
}

@media (max-width: 780px) {
    .aside_prefooter_wrapper {
        flex-direction: column;
        align-items: flex-start;

    }

    .aside_prefooter_col_1,
    .aside_prefooter_col_2 {
        width: 100%;
        align-items: flex-start;
    }

    .aside_prefooter_col {
        width: 100%;
        align-items: flex-start;
    }

    #menu-menu-footer-2 {
        height: auto;
        align-items: flex-start;
    }

    #menu-menu-footer-2 li {
        width: 100%;
        align-items: flex-start;
    }
}