.cta-header-container {
    display: flex;
    justify-content: flex-start;
}

.entry_title_home {
    display: flex;
    padding-top: 0 !important;
    background-color: $fondBlancCasse;

    @media (max-width: 980px) {
        flex-direction: column;
    }

    .title_home_wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 15%;
        background-color: $fondBlancCasse;

        @media (max-width: 980px) {
            width: 100%;
            padding-top: 15%;
            padding-bottom: 15%;
        }

        h1 {
            color: $redPetitBilly;
            font-size: 100px;

            @media (max-width:1400px) {
                font-size: 90px;

            }

            @media (max-width:1100px) {
                font-size: 80px;

            }

            @media (max-width: 980px) {
                font-size: 70px;

            }
        }

        .phrase-dintroduction-entete {
            font-family: 'Cafeteria-Bold';
            font-size: 35px;
            line-height: 1.3;
            position: relative;

            .chevre-home-wrapper {
                width: 35%;
                position: absolute;
                left: -224px;
                bottom: -229px;

                @media (max-width:1400px) {
                    left: -178px;
                    bottom: -170px;
                }

                @media (max-width:1100px) {
                    left: -142px;
                    bottom: -121px;
                }

                @media (max-width: 980px) {
                    display: none;
                }
            }
        }

        .cta-container {
            margin-top: 1rem;
        }
    }

    .home_image_wrapper {
        position: relative;
        width: 50%;

        @media (max-width: 980px) {
            width: 100%;
        }

        #home-svg-left {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;

            @media (max-width: 980px) {
                display: none;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }

    }

}

#header {
    height: 80px;

    #close-burger {
        display: none;
    }

    #search_icon_close {
        width: 25px !important;
    }

    #figure-logo-header {
        width: 100px;
        height: auto;

        img {
            position: absolute;
            top: 20%;
            background: white;
            border-radius: 50% !important;
            height: 112px;
        }
    }

    #branding {
        #content_header {
            height: 100%;

            a {
                display: block;
                height: 100%;

                #figure-logo-header {
                    height: 100%;
                    position: relative;
                }
            }
        }
    }

    #content_nav_header {
        #search_trigger {
            height: 80px;
            width: 40px;
            margin-right: 1rem;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#menu-menu-mobile {
    li {
        a {
            color: black !important;
        }
    }

    .current_page_item {
        a {
            color: $darkGreenBilly !important;
        }
    }
}

#menu-menu-principal,
#menu-menu-mobile {
    li {
        a {
            font-family: 'Cafeteria-Bold';
            color: $clearGreenBilly;
            font-size: 20px;
        }
    }
}

#header_contact {
    a {
        font-size: 18px;
    }

    svg {
        height: 40px;
    }

    .cta-container {
        padding-top: 0 !important;
    }
}

#search_box {
    background-color: white;

    #search_icon {
        width: 80px;
        height: 50px;
    }
}

#burger_rs_accroche {
    font-family: 'Cafeteria-Bold';
}


.breadcrumb_top {
    padding-left: 10rem;
    background-color: $fondBlancCasse;

    span,
    .breadcrumb_separator {
        color: black !important;
    }
}



.post_thumbnail_texte,
.article_blog .entry_title .post_thumbnail,
.post_thumbnail_bg {
    background-color: $fondBlancCasse;
}

.article_blog .entry_title .post_thumbnail {
    padding-top: 0.5rem;
}

.type-post {
    .post_thumbnail_texte_inner {
        .legende {
            display: flex;
            justify-content: center;
            padding-top: 2rem;

            a {
                font-family: 'Cafeteria-Bold' !important;
                font-size: 23px !important;
                background-color: $darkGreenBilly;
            }
        }
    }

    .post_thumbnail {
        flex-direction: column;

        .post_thumbnail_image,
        .post_thumbnail_texte {
            width: 100%;
        }
    }
}

.article_blog .entry_title .post_thumbnail_image figure {
    padding: inherit !important;
}

.article_blog .entry_title .post_thumbnail_image figure img {
    object-fit: contain !important;
    position: relative;
}

.article_blog .entry_title .post_thumbnail_texte_inner {
    position: inherit !important;
    padding-left: inherit !important;
    transform: inherit !important;
}

.article_blog .entry_title h1 {
    text-align: center;
    margin-bottom: 1rem;
}

.article_blog .entry_title .post_thumbnail {
    padding-bottom: 0rem !important;
}