.cta-header-container {
    display: flex;
    justify-content: flex-start;
}

.entry_title_home {
    display: flex;
    padding-top: 0 !important;
    background-color: $fondBlancCasse;
    .title_home_wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 15%;
        background-color: $fondBlancCasse;
        h1 {
            color: $redPetitBilly;
            font-size: 100px;
        }

        p {
            font-family: 'Cafeteria-Bold';
            font-size: 35px;
            line-height: 1.3;
        }

        .cta-container {
            margin-top: 1rem;
        }
    }

    .home_image_wrapper {
        position: relative;
        width: 50%;
        #home-svg-left {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        img {
            width: 100%;
            height: 100%;
        }

    }

}

#header {
    height: 80px;

    #close-burger {
        display: none;
    }

    #search_icon_close {
        width: 25px !important;
    }

    #figure-logo-header {
        width: 100px;
        height: auto;

        img {
            position: absolute;
            top: 20%;
            background: white;
            border-radius: 50%;
            height: 112px;
        }
    }

    #branding {
        #content_header {
            height: 100%;

            a {
                display: block;
                height: 100%;

                #figure-logo-header {
                    height: 100%;
                    position: relative;
                }
            }
        }
    }

    #content_nav_header {
        #search_trigger {
            height: 80px;
            width: 40px;
            margin-right: 1rem;

            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#menu-menu-principal,
#menu-menu-mobile {
    li {
        a {
            font-family: 'Cafeteria-Bold';
            color: $clearGreenBilly;
            font-size: 20px;
        }
    }
}

#header_contact {
    a {
        font-size: 18px;
    }

    svg {
        height: 40px;
    }
    .cta-container {
        padding-top: 0 !important;
    }
}

#search_box {
    background-color: white;
}