.cta-header-container {
    display: flex;
    justify-content: flex-start;
}

.entry_title_home {
    display: flex;
    padding-top: 0 !important;

    .title_home_wrapper {
        width: 50%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 15%;

        h1 {
            color: $redPetitBilly;
            font-size: 100px;
        }

        p {
            font-family: 'Cafeteria-Bold';
            font-size: 35px;
            line-height: 1.3;
        }

        .cta-container {
            margin-top: 1rem;
        }
    }

    .home_image_wrapper {
        width: 50%;
        position: relative;
    }
}

#header {
    height: 80px;

    #figure-logo-header {
        width: 100px;
        height: auto;

        img {
            position: absolute;
            top: 20%;
            background: white;
            border-radius: 50%;
            height: 112px;
        }
    }

    #branding {
        #content_header {
            height: 100%;

            a {
                display: block;
                height: 100%;

                #figure-logo-header {
                    height: 100%;
                    position: relative;
                }
            }
        }
    }

    #content_nav_header {
        #search_trigger {
            height: 80px;
            width: 40px;
            margin-right: 1rem;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}

#menu-menu-principal,
#menu-menu-mobile {
    li {
        a {
            font-family: 'Cafeteria-Bold';
            color: $clearGreenBilly;
            font-size: 20px;
        }
    }
}

#header_contact {
    a {
        font-size: 18px;
    }

    svg {
        height: 40px;
    }
}