#block-app {
    .results {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .cpt-extrait {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            width: 32%;
            -webkit-box-shadow: 0px 6px 23px 8px rgba(0, 0, 0, 0.27);
            box-shadow: 0px 6px 23px 8px rgba(0, 0, 0, 0.27);
            position: relative;

            .terms-container {
                position: absolute;
                top: 0;
                right: 0;

                .term-wrapper {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;

                    .term {
                        position: absolute;
                        left: 10%;
                        top: 10%;
                        color: white;
                        font-family: 'Cafeteria-Bold' !important;
                    }

                    .term-bg {
                        width: 8rem;
                    }
                }

                .term-wrapper {
                    &:nth-child(even) {
                        .term-bg {
                            fill: $darkGreenBilly;
                        }
                    }

                    &:nth-child(odd) {
                        .term-bg {
                            fill: $clearGreenBilly;
                        }
                    }
                }
            }
        }

        @media (max-width: 1280px) {
            .cpt-extrait {
                width: 48%;
            }
        }

        @media (max-width: 768px) {
            .cpt-extrait {
                margin-right: 0;
                width: 100%;
            }
        }
    }

    .filters {
        display: flex;
        flex-direction: column;

        .buttons {
            display: flex;

            .button {
                margin-right: 1rem;

                &:hover {
                    cursor: pointer;
                }

                &.active {
                    color: white;
                    background-color: black;
                }
            }

            margin-bottom: 1rem;
        }
    }

}