$mobileBreakpoint: 760px;

.block-recette-du-moment {
    .content_width {
        position: relative;
        display: flex;
        align-items: center;
    }

    .col_flexible {
        @media (max-width: $mobileBreakpoint) {
            flex-direction: column;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .green-edge,
    #recette-moment-bas-droit,
    #recette-moment-haut-gauche,
    .green-edge-mobile {
        position: absolute;
    }

    #recette-moment-bas-droit {
        bottom: -10%;
        left: 35%;
        z-index: 0;

        @media (max-width: 780px) {
            display: none !important;
        }
    }

    #recette-moment-haut-gauche {
        top: -10%;
        left: -3%;
        z-index: 0;

        @media (max-width: 780px) {
            display: none !important;
        }
    }

    .green-edge {
        z-index: 1;
        width: 100%;
        height: 90%;
        display: flex;

        @media (max-width: $mobileBreakpoint) {
            display: none;
        }
    }

    .green-edge-mobile {
        display: none;

        @media (max-width: $mobileBreakpoint) {
            display: flex;
            height: 100%;
        }
    }

    .col_flexible_wrapper {
        z-index: 2;
        position: relative;



        .col-1,
        .col-2 {
            width: 50%;

            @media (max-width: $mobileBreakpoint) {
                width: 100%;
            }
        }

        .col-1 {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 10%;

            @media (max-width: $mobileBreakpoint) {
                padding: 10% 0% 0% 0%;
            }
        }

        .col-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            
            @media (max-width: $mobileBreakpoint) {
                padding: 10%;
            }

            @media (max-width: 500px) {
                padding-top: 10%;
                padding-bottom: 10%;
                padding-right: 0;
                padding-left: 0;
            }

            img {
                width: 70%;
                border-radius: 20px;

                @media (max-width: 980px) {
                    width: 80%;
                }

                @media (max-width: 500px) {
                    width: 100%;
                    margin-bottom: 10%;
                }
            }

        }
    }
}