#block-app {

    .filter-input{
        &::placeholder {
            color:$darkGreenBilly;
            font-family: 'Cafeteria-Regular' !important;
            font-size: 22px;
            padding-top: 0.5rem;
        }
    }
    .results {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        .cpt-extrait {
            margin-right: 0.5rem;
            margin-bottom: 0.5rem;
            width: 32%;
            -webkit-box-shadow: 0px 6px 23px 8px rgb(154 154 154 / 27%);
            box-shadow: 0px 6px 23px 8px rgb(154 154 154 / 27%);
            position: relative;
            padding-bottom: 6rem;
            h3 {
                font-size: 26px;
                width: 100%;
                display: flex;
                justify-content: center;
                padding: 2rem;
                color: $darkGreenBilly;
                a {
                    color: $darkGreenBilly;
                    text-align: center;
                }
            }

            .desc-page {
                padding: 0rem 2rem 2rem 2rem;
            }

            .terms-container {
                position: absolute;
                top: 0;
                right: 0;
                padding-top: 1rem;

        

                .term-wrapper {
                    position: relative;
                    display: flex;
                    justify-content: flex-end;
                    padding-bottom: 0.6rem;

                    .term {
                        position: absolute;
                        left: 10%;
                        top: 10%;
                        color: white;
                        font-family: 'Cafeteria-Bold' !important;
                        font-size: 19px;
                    }

                    .term-bg {
                        width: 8rem;
                    }
                }

                .term-wrapper {
                    &:nth-child(even) {
                        .term-bg {
                            fill: $darkGreenBilly;
                        }
                    }

                    &:nth-child(odd) {
                        .term-bg {
                            fill: $clearGreenBilly;
                        }
                    }
                }
            }

            .img-container {
                height: 230px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .buttons-extrait {
                padding-bottom: 1rem;
                position: absolute;
                bottom: 0;
                width: 100%;
                .cta_center {
                    display: flex;
                    justify-content: center;
                }

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;

                    span {
                        z-index: 1;
                        position: absolute;
                        font-family: 'Cafeteria-Bold' !important;
                        color: white;
                    }
                }
            }

            @media (max-width: 1280px) {
                width: 48%;
            }

            @media (max-width: 780px) {
                margin-right: 0;
                width: 100%;
            }
        }
    }

    .filters {
        display: flex;
        flex-direction: column;

        .text-filter-container {
            position: relative;
            margin-bottom: 1rem;

            .svg-loop-searchbox {
                position: absolute;
                top: 25%;
                left: 2%;
            }
        }
    }

    .filter-input {
        border: none;
        z-index: 1;
        position: absolute;
        left: 6%;
        top: 0;
        height: 100%;
        width: 35%;
        background: transparent;

        &:focus-visible {
            outline: none;
        }

    }

    .buttons {
        display: flex;

        &:nth-child(odd) {
            .button-all-filters {
                svg {
                    fill: $darkGreenBilly;
                }

                span {
                    font-size: 19px;
                }
            }

            .term-filter-bg {
                fill: $darkGreenBilly;
            }

            .button {
                &.active {
                    span {
                        color: white;
                    }

                    .bg-button-filter {
                        fill: $darkGreenBilly;
                    }
                }

                span {
                    color: $darkGreenBilly;
                    font-size: 19px;
                }
            }
        }

        &:nth-child(even) {
            .button-all-filters {
                svg {
                    fill: $clearGreenBilly;
                }

                span {
                    font-size: 19px;
                }
            }

            button {
                &.active {
                    path {
                        :nth-child(1) {
                            fill: $clearGreenBilly;
                        }
                    }
                }
            }

            .term-filter-bg {
                fill: $clearGreenBilly;
            }

            .button {
                &.active {
                    span {
                        color: white;
                    }

                    .bg-button-filter {
                        fill: $clearGreenBilly;
                    }
                }

                span {
                    color: $clearGreenBilly;
                    font-size: 19px;
                }
            }

        }

        .button {
            margin-right: 1rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                position: absolute;
                font-family: 'Cafeteria-Bold' !important;
            }

            &:hover {
                cursor: pointer;
            }

            &.active {
                color: white;
            }
        }

        margin-bottom: 1rem;
    }

    .load-more-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        margin-bottom: 1rem;

        .load-more {
            color: white;
            font-family: 'Cafeteria-Bold' !important;
            font-size: 20px;
            position: absolute;
            cursor: pointer;

        }

        svg {
            cursor: pointer;
        }
    }
}