.block-recette {
    .recettes-caracteristiques-wrapper {
        display: flex;
        flex-direction: column;

        .part-1-block {
            display: flex;
            border-radius: 20px;
            overflow: hidden;
            .col-gauche {
                display: flex;
                flex-direction: column;
                width: 30%;
                background-color: white;

                .caracteristiques-recettes {
                    padding: 10%;

                    .svg-recette {
                        margin-right: 0.5rem;
                    }

                    p {
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.5rem;
                    }
                }
            }

            .col-droite {
                width: 70%;
                padding: 5%;
                background-color: $darkGreenBilly;

                h3 {
                    font-family: 'Cafeteria-Bold';
                    color: white;
                    font-size: 2rem;
                }

                .liste-ingredients {

                    ul,
                    li,
                    a {
                        font-family: 'Cafeteria-Regular';
                        color: white;

                    }

                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        width: 90%;
                    }

                    li {
                        list-style-type: disc;
                        width: 50%;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}